<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.qxd.tax.mapper.BMapper">

	<select id="getModels" resultType="com.jp.qxd.tax.model.input.BModel"
		parameterType="com.jp.qxd.tax.model.input.BModel">
		SELECT
		*
		from company
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<select id="getModelsForPdf001" resultType="com.jp.qxd.tax.model.pdf.Rpt001Model"
		parameterType="com.jp.qxd.tax.model.input.BModel">
		SELECT
			user_id
			,year
			,company_id
			,legalPersonName_k
			,legalPersonName_h
			,b_03
			,b_04
			,b_05
			,representativeName_k
			,representativeName_h
			,representativeName
			,b_10
			,accountingName_h
			,accountingName
			,b_12
			,b_13
			,b_14
			,b_68
			,b_15
			,b_16
			,b_17
			,b_18
			,b_19
			,b_20
			,b_21
			,b_22
			,b_23
			,b_24
			,b_25
			,b_26
			,b_27
			,b_28
			,b_29
			,b_30
			,b_71
			,b_67
			,b_31
			,b_32
			,b_33
			,b_34
			,q46
			,b_35
			,b_69
			,b_36
			,b_70
			,b_37
			,b_38
			,b_39
			,b_40
			,b_41
			,b_42
			,b_43
			,b_44
			,b_45
			,b_46
			,b_47
			,b_48
			,b_49
			,b_50
			,b_51
			,b_52
			,b_53
			,b_56
			,b_57
			,b_58
			,b_59
			,b_60
			,b_61
			,billing_amount
		from company
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<select id="getModelsForPdf6a_d" resultType="com.jp.qxd.tax.model.pdf.Rpt6a_dModel"
		parameterType="com.jp.qxd.tax.model.input.BModel">
		SELECT
			user_id
			,year
			,company_id
			,legalPersonName_k
			,legalPersonName_h
			,b_03
			,b_04
			,b_05
			,representativeName_k
			,representativeName_h
			,representativeName
			,b_10
			,accountingName_h
			,accountingName
			,b_12
			,b_13
			,b_14
			,b_68
			,b_15
			,b_16
			,b_17
			,b_18
			,b_19
			,b_20
			,b_21
			,b_22
			,b_23
			,b_24
			,b_25
			,b_26
			,b_27
			,b_28
			,b_29
			,b_30
			,b_71
			,b_67
			,b_31
			,b_32
			,b_33
			,b_34
			,q46
			,b_35
			,b_69
			,b_36
			,b_70
			,b_37
			,b_38
			,b_39
			,b_40
			,b_41
			,b_42
			,b_43
			,b_44
			,b_45
			,b_46
			,b_47
			,b_48
			,b_49
			,b_50
			,b_51
			,b_52
			,b_53
			,b_56
			,b_57
			,b_58
			,b_59
			,b_60
			,b_61
			,billing_amount
		from company
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<select id="getModelsForPdf6a" resultType="com.jp.qxd.tax.model.pdf.Rpt6aModel"
		parameterType="com.jp.qxd.tax.model.input.BModel">
		SELECT
			user_id
			,year
			,company_id
			,legalPersonName_k
			,legalPersonName_h
			,b_03
			,b_04
			,b_05
			,representativeName_k
			,representativeName_h
			,representativeName
			,b_10
			,accountingName_h
			,accountingName
			,b_12
			,b_13
			,b_14
			,b_68
			,b_15
			,b_16
			,b_17
			,b_18
			,b_19
			,b_20
			,b_21
			,b_22
			,b_23
			,b_24
			,b_25
			,b_26
			,b_27
			,b_28
			,b_29
			,b_30
			,b_71
			,b_67
			,b_31
			,b_32
			,b_33
			,b_34
			,q46
			,b_35
			,b_69
			,b_36
			,b_70
			,b_37
			,b_38
			,b_39
			,b_40
			,b_41
			,b_42
			,b_43
			,b_44
			,b_45
			,b_46
			,b_47
			,b_48
			,b_49
			,b_50
			,b_51
			,b_52
			,b_53
			,b_56
			,b_57
			,b_58
			,b_59
			,b_60
			,b_61
			,billing_amount
		from company
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<select id="getModelsForPd20" resultType="com.jp.qxd.tax.model.pdf.Rpt020Model"
		parameterType="com.jp.qxd.tax.model.input.BModel">
		SELECT
			user_id
			,year
			,company_id
			,legalPersonName_k
			,legalPersonName_h
			,b_03
			,b_04
			,b_05
			,representativeName_k
			,representativeName_h
			,representativeName
			,b_10
			,accountingName_h
			,accountingName
			,b_12
			,b_13
			,b_14
			,b_68
			,b_15
			,b_16
			,b_17
			,b_18
			,b_19
			,b_20
			,b_21
			,b_22
			,b_23
			,b_24
			,b_25
			,b_26
			,b_27
			,b_28
			,b_29
			,b_30
			,b_71
			,b_67
			,b_31
			,b_32
			,b_33
			,b_34
			,q46
			,b_35
			,b_69
			,b_36
			,b_70
			,b_37
			,b_38
			,b_39
			,b_40
			,b_41
			,b_42
			,b_43
			,b_44
			,b_45
			,b_46
			,b_47
			,b_48
			,b_49
			,b_50
			,b_51
			,b_52
			,b_53
			,b_56
			,b_57
			,b_58
			,b_59
			,b_60
			,b_61
			,billing_amount
		from company
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<insert id="insertModel"
		parameterType="com.jp.qxd.tax.model.input.BModel">
		insert into company
		(
		user_id
		,year
		,company_id
		,legalPersonName_k
		,legalPersonName_h
		,legalPersonName
		,B_03
		,B_04
		,B_05
		,representativeName_k
		,representativeName_h
		,representativeName
		,B_10
		,accountingName_h
		,accountingName
		,B_12
		,B_13
		,B_14
		,B_68
		,B_15
		,B_16
		,B_17
		,B_18
		,B_19
		,B_20
		,B_21
		,B_22
		,B_23
		,B_24
		,B_25
		,B_26
		,B_27
		,B_28
		,B_29
		,B_30
		,B_71
		,B_67
		,B_31
		,B_32
		,B_33
		,B_34
		,Q46
		,B_35
		,B_69
		,B_36
		,B_70
		,B_37
		,B_38
		,B_39
		,B_40
		,B_41
		,B_42
		,B_43
		,B_44
		,B_45
		,B_46
		,B_47
		,B_48
		,B_49
		,B_50
		,B_51
		,B_52
		,B_53
		,B_56
		,B_57
		,B_58
		,B_59
		,B_60
		,B_61
		,billing_amount
		) values (
			#{userId,jdbcType=VARCHAR},
			#{year,jdbcType=VARCHAR},
			#{company_id,jdbcType=VARCHAR},
			#{legalPersonName_k,jdbcType=VARCHAR},
			#{legalPersonName_h,jdbcType=VARCHAR},
			#{legalPersonName,jdbcType=VARCHAR},
			#{b_03,jdbcType=VARCHAR},
			#{b_04,jdbcType=VARCHAR},
			#{b_05,jdbcType=VARCHAR},
			#{representativeName_k,jdbcType=VARCHAR},
			#{representativeName_h,jdbcType=VARCHAR},
			#{representativeName,jdbcType=VARCHAR},
			#{b_10,jdbcType=VARCHAR},
			#{accountingName_h,jdbcType=VARCHAR},
			#{accountingName,jdbcType=VARCHAR},
			#{b_12,jdbcType=VARCHAR},
			#{b_13,jdbcType=VARCHAR},
			#{b_14,jdbcType=VARCHAR},
			#{b_68,jdbcType=VARCHAR},
			#{b_15,jdbcType=VARCHAR},
			#{b_16,jdbcType=VARCHAR},
			#{b_17,jdbcType=VARCHAR},
			#{b_18,jdbcType=VARCHAR},
			#{b_19,jdbcType=VARCHAR},
			#{b_20,jdbcType=VARCHAR},
			#{b_21,jdbcType=VARCHAR},
			#{b_22,jdbcType=VARCHAR},
			#{b_23,jdbcType=VARCHAR},
			#{b_24,jdbcType=VARCHAR},
			#{b_25,jdbcType=VARCHAR},
			#{b_26,jdbcType=VARCHAR},
			#{b_27,jdbcType=VARCHAR},
			#{b_28,jdbcType=VARCHAR},
			#{b_29,jdbcType=VARCHAR},
			#{b_30,jdbcType=VARCHAR},
			#{b_71,jdbcType=VARCHAR},
			#{b_67,jdbcType=VARCHAR},
			#{b_31,jdbcType=VARCHAR},
			#{b_32,jdbcType=VARCHAR},
			#{b_33,jdbcType=VARCHAR},
			#{b_34,jdbcType=VARCHAR},
			#{q46,jdbcType=VARCHAR},
			#{b_35,jdbcType=VARCHAR},
			#{b_69,jdbcType=VARCHAR},
			#{b_36,jdbcType=VARCHAR},
			#{b_70,jdbcType=VARCHAR},
			#{b_37,jdbcType=VARCHAR},
			#{b_38,jdbcType=VARCHAR},
			#{b_39,jdbcType=VARCHAR},
			#{b_40,jdbcType=VARCHAR},
			#{b_41,jdbcType=VARCHAR},
			#{b_42,jdbcType=VARCHAR},
			#{b_43,jdbcType=VARCHAR},
			#{b_44,jdbcType=VARCHAR},
			#{b_45,jdbcType=VARCHAR},
			#{b_46,jdbcType=VARCHAR},
			#{b_47,jdbcType=VARCHAR},
			#{b_48,jdbcType=VARCHAR},
			#{b_49,jdbcType=VARCHAR},
			#{b_50,jdbcType=VARCHAR},
			#{b_51,jdbcType=VARCHAR},
			#{b_52,jdbcType=VARCHAR},
			#{b_53,jdbcType=VARCHAR},
			#{b_56,jdbcType=VARCHAR},
			#{b_57,jdbcType=VARCHAR},
			#{b_58,jdbcType=VARCHAR},
			#{b_59,jdbcType=VARCHAR},
			#{b_60,jdbcType=VARCHAR},
			#{b_61,jdbcType=VARCHAR},
			#{billing_amount,jdbcType=VARCHAR}
		)
	</insert>
	<delete id="deleteModel" parameterType="com.jp.qxd.tax.model.input.BModel">
		delete
		from company
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</delete>

	<insert id="copy" parameterType="com.jp.qxd.tax.model.input.BModel">
		insert into company
		(
		user_id
		,year
		,company_id
		,legalPersonName_k
		,legalPersonName_h
		,legalPersonName
		,B_03
		,B_04
		,B_05
		,representativeName_k
		,representativeName_h
		,representativeName
		,B_10
		,accountingName_h
		,accountingName
		,B_12
		,B_13
		,B_14
		,B_68
		,B_15
		,B_16
		,B_17
		,B_18
		,B_19
		,B_20
		,B_21
		,B_22
		,B_23
		,B_24
		,B_25
		,B_26
		,B_27
		,B_28
		,B_29
		,B_30
		,B_71
		,B_67
		,B_31
		,B_32
		,B_33
		,B_34
		,Q46
		,B_35
		,B_69
		,B_36
		,B_70
		,B_37
		,B_38
		,B_39
		,B_40
		,B_41
		,B_42
		,B_43
		,B_44
		,B_45
		,B_46
		,B_47
		,B_48
		,B_49
		,B_50
		,B_51
		,B_52
		,B_53
		,B_56
		,B_57
		,B_58
		,B_59
		,B_60
		,B_61
		,billing_amount
		)
		select
		user_id
		,#{year,jdbcType=VARCHAR}
		,company_id
		,legalPersonName_k
		,legalPersonName_h
		,legalPersonName
		,B_03
		,B_04
		,B_05
		,representativeName_k
		,representativeName_h
		,representativeName
		,B_10
		,accountingName_h
		,accountingName
		,B_12
		,B_13
		,B_14
		,B_68
		,B_15
		,B_16
		,B_17
		,B_18
		,B_19
		,B_20
		,B_21
		,B_22
		,B_23
		,B_24
		,B_25
		,B_26
		,B_27
		,B_28
		,B_29
		,B_30
		,B_71
		,B_67
		,B_31
		,B_32
		,B_33
		,B_34
		,Q46
		,B_35
		,B_69
		,B_36
		,B_70
		,B_37
		,B_38
		,B_39
		,B_40
		,B_41
		,B_42
		,B_43
		,B_44
		,B_45
		,B_46
		,B_47
		,B_48
		,B_49
		,B_50
		,B_51
		,B_52
		,B_53
		,B_56
		,B_57
		,B_58
		,B_59
		,B_60
		,B_61
		,billing_amount
		from company
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{preYear,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</insert>

</mapper>