<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.qxd.tax.mapper.MMapper">

	<select id="getModels" resultType="com.jp.qxd.tax.model.input.MModel"
		parameterType="com.jp.qxd.tax.model.input.MModel">
		SELECT
		*
		from m_expenses
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<insert id="insertModel"
		parameterType="com.jp.qxd.tax.model.input.MModel">
		insert into m_expenses
		(
			company_id
			,user_id
			,year
			,m_g276
			,m_m276
			,m_s276
		) values (
			#{company_id,jdbcType=VARCHAR},
			#{userId,jdbcType=VARCHAR},
			#{year,jdbcType=VARCHAR},
			#{m_g276,jdbcType=INTEGER},
			#{m_m276,jdbcType=INTEGER},
			#{m_s276,jdbcType=INTEGER}
		)
	</insert>
	<delete id="deleteModel" parameterType="com.jp.qxd.tax.model.input.MModel">
		delete
		from m_expenses
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</delete>

</mapper>