<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.qxd.tax.mapper.OMapper">

	<select id="getModels" resultType="com.jp.qxd.tax.model.input.OModel"
		parameterType="com.jp.qxd.tax.model.input.OModel">
		SELECT
		*
		from o_loanallowance
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<insert id="insertModel"
		parameterType="com.jp.qxd.tax.model.input.OModel">
		insert into o_loanallowance
		(
			company_id
			,user_id
			,year
			,o_g308
			,o_k308
			,o_o308
			,o_s308
			,o_g310
			,o_k310
			,o_o310
			,o_s310
			,o_g312
			,o_k312
			,o_o312
			,o_s312
			,o_g313
			,o_i313
			,o_k313
			,o_m313
			,o_o313
			,o_q313
			,o_s313
			,o_u313
			,o_g314
			,o_k314
			,o_o314
			,o_s314
			,o_g315
			,o_k315
			,o_o315
			,o_s315
			,o_g316
			,o_k316
			,o_o316
			,o_s316
			,o_g317
			,o_k317
			,o_o317
			,o_s317
			,o_g318
			,o_k318
			,o_o318
			,o_s318
			,o_g319
			,o_k319
			,o_o319
			,o_s319
			,o_g320
			,o_k320
			,o_o320
			,o_s320
			,o_g321
			,o_k321
			,o_o321
			,o_s321
			,o_g322
			,o_k322
			,o_o322
			,o_s322
			,o_g323
			,o_k323
			,o_o323
			,o_s323
			,o_g324
			,o_k324
			,o_o324
			,o_s324
			,o_g325
			,o_k325
			,o_o325
			,o_s325
			,o_g326
			,o_k326
			,o_o326
			,o_s326
			,o_h331
			,o_q331
			,o_c334
			,o_f334
			,o_h334
			,o_j334
			,o_l334
			,o_n334
			,o_p334
			,o_c335
			,o_f335
			,o_h335
			,o_j335
			,o_l335
			,o_n335
			,o_p335
			,o_c336
			,o_f336
			,o_h336
			,o_j336
			,o_l336
			,o_n336
			,o_p336
			,o_c337
			,o_f337
			,o_h337
			,o_j337
			,o_l337
			,o_n337
			,o_p337
			,o_c338
			,o_f338
			,o_h338
			,o_j338
			,o_l338
			,o_n338
			,o_p338
			,o_c339
			,o_f339
			,o_h339
			,o_j339
			,o_l339
			,o_n339
			,o_p339
			,o_c340
			,o_f340
			,o_h340
			,o_j340
			,o_l340
			,o_n340
			,o_p340
			,o_i342
			,o_i343
			,o_i344
			,o_i345
			,o_i346
			,o_i347
			,o_i348
			,o_i349
			,o_i351
			,o_i352
			,o_i353
		) values (
			#{company_id,jdbcType=VARCHAR},
			#{userId,jdbcType=VARCHAR},
			#{year,jdbcType=VARCHAR},
			#{o_g308,jdbcType=VARCHAR},
			#{o_k308,jdbcType=VARCHAR},
			#{o_o308,jdbcType=VARCHAR},
			#{o_s308,jdbcType=VARCHAR},
			#{o_g310,jdbcType=VARCHAR},
			#{o_k310,jdbcType=VARCHAR},
			#{o_o310,jdbcType=VARCHAR},
			#{o_s310,jdbcType=VARCHAR},
			#{o_g312,jdbcType=VARCHAR},
			#{o_k312,jdbcType=VARCHAR},
			#{o_o312,jdbcType=VARCHAR},
			#{o_s312,jdbcType=VARCHAR},
			#{o_g313,jdbcType=VARCHAR},
			#{o_i313,jdbcType=VARCHAR},
			#{o_k313,jdbcType=VARCHAR},
			#{o_m313,jdbcType=VARCHAR},
			#{o_o313,jdbcType=VARCHAR},
			#{o_q313,jdbcType=VARCHAR},
			#{o_s313,jdbcType=VARCHAR},
			#{o_u313,jdbcType=VARCHAR},
			#{o_g314,jdbcType=VARCHAR},
			#{o_k314,jdbcType=VARCHAR},
			#{o_o314,jdbcType=VARCHAR},
			#{o_s314,jdbcType=VARCHAR},
			#{o_g315,jdbcType=INTEGER},
			#{o_k315,jdbcType=INTEGER},
			#{o_o315,jdbcType=INTEGER},
			#{o_s315,jdbcType=INTEGER},
			#{o_g316,jdbcType=INTEGER},
			#{o_k316,jdbcType=INTEGER},
			#{o_o316,jdbcType=INTEGER},
			#{o_s316,jdbcType=INTEGER},
			#{o_g317,jdbcType=INTEGER},
			#{o_k317,jdbcType=INTEGER},
			#{o_o317,jdbcType=INTEGER},
			#{o_s317,jdbcType=INTEGER},
			#{o_g318,jdbcType=VARCHAR},
			#{o_k318,jdbcType=VARCHAR},
			#{o_o318,jdbcType=VARCHAR},
			#{o_s318,jdbcType=VARCHAR},
			#{o_g319,jdbcType=VARCHAR},
			#{o_k319,jdbcType=VARCHAR},
			#{o_o319,jdbcType=VARCHAR},
			#{o_s319,jdbcType=VARCHAR},
			#{o_g320,jdbcType=VARCHAR},
			#{o_k320,jdbcType=VARCHAR},
			#{o_o320,jdbcType=VARCHAR},
			#{o_s320,jdbcType=VARCHAR},
			#{o_g321,jdbcType=VARCHAR},
			#{o_k321,jdbcType=VARCHAR},
			#{o_o321,jdbcType=VARCHAR},
			#{o_s321,jdbcType=VARCHAR},
			#{o_g322,jdbcType=INTEGER},
			#{o_k322,jdbcType=INTEGER},
			#{o_o322,jdbcType=INTEGER},
			#{o_s322,jdbcType=INTEGER},
			#{o_g323,jdbcType=INTEGER},
			#{o_k323,jdbcType=INTEGER},
			#{o_o323,jdbcType=INTEGER},
			#{o_s323,jdbcType=INTEGER},
			#{o_g324,jdbcType=INTEGER},
			#{o_k324,jdbcType=INTEGER},
			#{o_o324,jdbcType=INTEGER},
			#{o_s324,jdbcType=INTEGER},
			#{o_g325,jdbcType=INTEGER},
			#{o_k325,jdbcType=INTEGER},
			#{o_o325,jdbcType=INTEGER},
			#{o_s325,jdbcType=INTEGER},
			#{o_g326,jdbcType=VARCHAR},
			#{o_k326,jdbcType=VARCHAR},
			#{o_o326,jdbcType=VARCHAR},
			#{o_s326,jdbcType=VARCHAR},
			#{o_h331,jdbcType=INTEGER},
			#{o_q331,jdbcType=VARCHAR},
			#{o_c334,jdbcType=VARCHAR},
			#{o_f334,jdbcType=INTEGER},
			#{o_h334,jdbcType=INTEGER},
			#{o_j334,jdbcType=INTEGER},
			#{o_l334,jdbcType=INTEGER},
			#{o_n334,jdbcType=INTEGER},
			#{o_p334,jdbcType=INTEGER},
			#{o_c335,jdbcType=VARCHAR},
			#{o_f335,jdbcType=INTEGER},
			#{o_h335,jdbcType=INTEGER},
			#{o_j335,jdbcType=INTEGER},
			#{o_l335,jdbcType=INTEGER},
			#{o_n335,jdbcType=INTEGER},
			#{o_p335,jdbcType=INTEGER},
			#{o_c336,jdbcType=VARCHAR},
			#{o_f336,jdbcType=INTEGER},
			#{o_h336,jdbcType=INTEGER},
			#{o_j336,jdbcType=INTEGER},
			#{o_l336,jdbcType=INTEGER},
			#{o_n336,jdbcType=INTEGER},
			#{o_p336,jdbcType=INTEGER},
			#{o_c337,jdbcType=VARCHAR},
			#{o_f337,jdbcType=INTEGER},
			#{o_h337,jdbcType=INTEGER},
			#{o_j337,jdbcType=INTEGER},
			#{o_l337,jdbcType=INTEGER},
			#{o_n337,jdbcType=INTEGER},
			#{o_p337,jdbcType=INTEGER},
			#{o_c338,jdbcType=VARCHAR},
			#{o_f338,jdbcType=INTEGER},
			#{o_h338,jdbcType=INTEGER},
			#{o_j338,jdbcType=INTEGER},
			#{o_l338,jdbcType=INTEGER},
			#{o_n338,jdbcType=INTEGER},
			#{o_p338,jdbcType=INTEGER},
			#{o_c339,jdbcType=VARCHAR},
			#{o_f339,jdbcType=INTEGER},
			#{o_h339,jdbcType=INTEGER},
			#{o_j339,jdbcType=INTEGER},
			#{o_l339,jdbcType=INTEGER},
			#{o_n339,jdbcType=INTEGER},
			#{o_p339,jdbcType=INTEGER},
			#{o_c340,jdbcType=VARCHAR},
			#{o_f340,jdbcType=INTEGER},
			#{o_h340,jdbcType=INTEGER},
			#{o_j340,jdbcType=INTEGER},
			#{o_l340,jdbcType=INTEGER},
			#{o_n340,jdbcType=INTEGER},
			#{o_p340,jdbcType=INTEGER},
			#{o_i342,jdbcType=INTEGER},
			#{o_i343,jdbcType=INTEGER},
			#{o_i344,jdbcType=INTEGER},
			#{o_i345,jdbcType=INTEGER},
			#{o_i346,jdbcType=INTEGER},
			#{o_i347,jdbcType=INTEGER},
			#{o_i348,jdbcType=INTEGER},
			#{o_i349,jdbcType=INTEGER},
			#{o_i351,jdbcType=INTEGER},
			#{o_i352,jdbcType=INTEGER},
			#{o_i353,jdbcType=INTEGER}
		)
	</insert>
	<delete id="deleteModel" parameterType="com.jp.qxd.tax.model.input.OModel">
		delete
		from o_loanallowance
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</delete>

</mapper>