<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.qxd.tax.mapper.Pdf007Mapper">

	<select id="getModels" resultType="com.jp.qxd.tax.model.pdf.Rpt007Model"
		parameterType="com.jp.qxd.tax.model.pdf.Rpt007Model">
		SELECT
		*
		from t_07
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<insert id="insertModel"
		parameterType="com.jp.qxd.tax.model.pdf.Rpt007Model">
		insert into t_07
		(
			company_id
			,user_id
			,year
			,legalPersonName
			,ymdFrom
			,ymdTo
			,f_1
			,f_2
			,f_date_1_from
			,f_date_1_to
			,f_3_1
			,f_4_1
			,f_date_2_from
			,f_date_2_to
			,f_3_2
			,f_4_2
			,f_5_2
			,f_date_3_from
			,f_date_3_to
			,f_3_3
			,f_4_3
			,f_5_3
			,f_date_4_from
			,f_date_4_to
			,f_3_4
			,f_4_4
			,f_5_4
			,f_date_5_from
			,f_date_5_to
			,f_3_5
			,f_4_5
			,f_5_5
			,f_date_6_from
			,f_date_6_to
			,f_3_6
			,f_4_6
			,f_5_6
			,f_date_7_from
			,f_date_7_to
			,f_3_7
			,f_4_7
			,f_5_7
			,f_date_8_from
			,f_date_8_to
			,f_3_8
			,f_4_8
			,f_5_8
			,f_date_9_from
			,f_date_9_to
			,f_3_9
			,f_4_9
			,f_5_9
			,f_date_10_from
			,f_date_10_to
			,f_3_10
			,f_4_10
			,f_5_10
			,f_6_3
			,f_7_1
			,f_7_2
			,f_7_3
			,f_8_1
			,f_8_2
			,f_8_3
			,f_9_1
			,f_9_2
			,f_9_3
			,f_10_1
			,f_10_2
			,f_10_3
			,f_11_1
			,f_11_2
			,f_11_3
			,f_12_1
			,f_12_2
			,f_12_3
			,f_13_1
			,f_13_2
			,f_13_3
			,f_14_3
			,f_15_3
			,f_16_3
			,f_total_1
			,f_total_2
			,f_total_3
			,f_17
			,f_18_1
			,f_18_2
			,f_18_3
			,f_19_1
			,f_19_2
			,f_19_3
			,f_total
			,f_20
			,f_21_date
		) values (
			#{company_id,jdbcType=VARCHAR},
			#{userId,jdbcType=VARCHAR},
			#{year,jdbcType=VARCHAR},
			#{legalPersonName,jdbcType=VARCHAR},
			#{ymdFrom,jdbcType=VARCHAR},
			#{ymdTo,jdbcType=VARCHAR},
			#{f_1,jdbcType=VARCHAR},
			#{f_2,jdbcType=VARCHAR},
			#{f_date_1_from,jdbcType=VARCHAR},
			#{f_date_1_to,jdbcType=VARCHAR},
			#{f_3_1,jdbcType=VARCHAR},
			#{f_4_1,jdbcType=VARCHAR},
			#{f_date_2_from,jdbcType=VARCHAR},
			#{f_date_2_to,jdbcType=VARCHAR},
			#{f_3_2,jdbcType=VARCHAR},
			#{f_4_2,jdbcType=VARCHAR},
			#{f_5_2,jdbcType=VARCHAR},
			#{f_date_3_from,jdbcType=VARCHAR},
			#{f_date_3_to,jdbcType=VARCHAR},
			#{f_3_3,jdbcType=VARCHAR},
			#{f_4_3,jdbcType=VARCHAR},
			#{f_5_3,jdbcType=VARCHAR},
			#{f_date_4_from,jdbcType=VARCHAR},
			#{f_date_4_to,jdbcType=VARCHAR},
			#{f_3_4,jdbcType=VARCHAR},
			#{f_4_4,jdbcType=VARCHAR},
			#{f_5_4,jdbcType=VARCHAR},
			#{f_date_5_from,jdbcType=VARCHAR},
			#{f_date_5_to,jdbcType=VARCHAR},
			#{f_3_5,jdbcType=VARCHAR},
			#{f_4_5,jdbcType=VARCHAR},
			#{f_5_5,jdbcType=VARCHAR},
			#{f_date_6_from,jdbcType=VARCHAR},
			#{f_date_6_to,jdbcType=VARCHAR},
			#{f_3_6,jdbcType=VARCHAR},
			#{f_4_6,jdbcType=VARCHAR},
			#{f_5_6,jdbcType=VARCHAR},
			#{f_date_7_from,jdbcType=VARCHAR},
			#{f_date_7_to,jdbcType=VARCHAR},
			#{f_3_7,jdbcType=VARCHAR},
			#{f_4_7,jdbcType=VARCHAR},
			#{f_5_7,jdbcType=VARCHAR},
			#{f_date_8_from,jdbcType=VARCHAR},
			#{f_date_8_to,jdbcType=VARCHAR},
			#{f_3_8,jdbcType=VARCHAR},
			#{f_4_8,jdbcType=VARCHAR},
			#{f_5_8,jdbcType=VARCHAR},
			#{f_date_9_from,jdbcType=VARCHAR},
			#{f_date_9_to,jdbcType=VARCHAR},
			#{f_3_9,jdbcType=VARCHAR},
			#{f_4_9,jdbcType=VARCHAR},
			#{f_5_9,jdbcType=VARCHAR},
			#{f_date_10_from,jdbcType=VARCHAR},
			#{f_date_10_to,jdbcType=VARCHAR},
			#{f_3_10,jdbcType=VARCHAR},
			#{f_4_10,jdbcType=VARCHAR},
			#{f_5_10,jdbcType=VARCHAR},
			#{f_6_3,jdbcType=VARCHAR},
			#{f_7_1,jdbcType=VARCHAR},
			#{f_7_2,jdbcType=VARCHAR},
			#{f_7_3,jdbcType=VARCHAR},
			#{f_8_1,jdbcType=VARCHAR},
			#{f_8_2,jdbcType=VARCHAR},
			#{f_8_3,jdbcType=VARCHAR},
			#{f_9_1,jdbcType=VARCHAR},
			#{f_9_2,jdbcType=VARCHAR},
			#{f_9_3,jdbcType=VARCHAR},
			#{f_10_1,jdbcType=VARCHAR},
			#{f_10_2,jdbcType=VARCHAR},
			#{f_10_3,jdbcType=VARCHAR},
			#{f_11_1,jdbcType=VARCHAR},
			#{f_11_2,jdbcType=VARCHAR},
			#{f_11_3,jdbcType=VARCHAR},
			#{f_12_1,jdbcType=VARCHAR},
			#{f_12_2,jdbcType=VARCHAR},
			#{f_12_3,jdbcType=VARCHAR},
			#{f_13_1,jdbcType=VARCHAR},
			#{f_13_2,jdbcType=VARCHAR},
			#{f_13_3,jdbcType=VARCHAR},
			#{f_14_3,jdbcType=VARCHAR},
			#{f_15_3,jdbcType=VARCHAR},
			#{f_16_3,jdbcType=VARCHAR},
			#{f_total_1,jdbcType=VARCHAR},
			#{f_total_2,jdbcType=VARCHAR},
			#{f_total_3,jdbcType=VARCHAR},
			#{f_17,jdbcType=VARCHAR},
			#{f_18_1,jdbcType=VARCHAR},
			#{f_18_2,jdbcType=VARCHAR},
			#{f_18_3,jdbcType=VARCHAR},
			#{f_19_1,jdbcType=VARCHAR},
			#{f_19_2,jdbcType=VARCHAR},
			#{f_19_3,jdbcType=VARCHAR},
			#{f_total,jdbcType=VARCHAR},
			#{f_20,jdbcType=VARCHAR},
			#{f_21_date,jdbcType=VARCHAR}
		)
	</insert>
	<delete id="deleteModel" parameterType="com.jp.qxd.tax.model.pdf.Rpt007Model">
		delete
		from t_07
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</delete>
</mapper>