<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.qxd.tax.mapper.Pdf002Mapper">

	<select id="getModels" resultType="com.jp.qxd.tax.model.pdf.Rpt002Model"
		parameterType="com.jp.qxd.tax.model.pdf.Rpt002Model">
		SELECT
		*
		from t_02
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<insert id="insertModel"
		parameterType="com.jp.qxd.tax.model.pdf.Rpt002Model">
		insert into t_02
		(
			company_id
			,user_id
			,year
			,legalPersonName
			,ymdFrom
			,ymdTo
			,f_1
			,f_2
			,f_3
			,f_4
			,f_5
			,f_6
			,f_7
			,f_8
			,f_9
			,f_10
			,f_11
			,f_12
			,f_13
			,f_14
			,f_15
			,f_16
			,f_17
			,f_18
			,b_17
			,c_17
			,d_17
			,e_17
			,h_17
			,i_17
			,j_17
			,k_17
			,b_18
			,c_18
			,d_18
			,e_18
			,g_18
			,h_18
			,i_18
			,j_18
			,k_18
			,b_19
			,c_19
			,d_19
			,e_19
			,g_19
			,h_19
			,i_19
			,j_19
			,k_19
			,b_20
			,c_20
			,d_20
			,e_20
			,g_20
			,h_20
			,i_20
			,j_20
			,k_20
			,b_21
			,c_21
			,d_21
			,e_21
			,g_21
			,h_21
			,i_21
			,j_21
			,k_21
			,b_22
			,c_22
			,d_22
			,e_22
			,g_22
			,h_22
			,i_22
			,j_22
			,k_22
			,b_23
			,c_23
			,d_23
			,e_23
			,g_23
			,h_23
			,i_23
			,j_23
			,k_23
			,b_24
			,c_24
			,d_24
			,e_24
			,g_24
			,h_24
			,i_24
			,j_24
			,k_24
			,b_25
			,c_25
			,d_25
			,e_25
			,g_25
			,h_25
			,i_25
			,j_25
			,k_25
			,b_26
			,c_26
			,d_26
			,e_26
			,g_26
			,h_26
			,i_26
			,j_26
			,k_26
			,b_27
			,c_27
			,d_27
			,e_27
			,g_27
			,h_27
			,i_27
			,j_27
			,k_27
			,b_28
			,c_28
			,d_28
			,e_28
			,g_28
			,h_28
			,i_28
			,j_28
			,k_28
			,b_29
			,c_29
			,d_29
			,e_29
			,g_29
			,h_29
			,i_29
			,j_29
			,k_29
		) values (
			#{company_id,jdbcType=VARCHAR},
			#{userId,jdbcType=VARCHAR},
			#{year,jdbcType=VARCHAR},
			#{legalPersonName,jdbcType=VARCHAR},
			#{ymdFrom,jdbcType=VARCHAR},
			#{ymdTo,jdbcType=VARCHAR},
			#{f_1,jdbcType=VARCHAR},
			#{f_2,jdbcType=VARCHAR},
			#{f_3,jdbcType=VARCHAR},
			#{f_4,jdbcType=VARCHAR},
			#{f_5,jdbcType=VARCHAR},
			#{f_6,jdbcType=VARCHAR},
			#{f_7,jdbcType=VARCHAR},
			#{f_8,jdbcType=VARCHAR},
			#{f_9,jdbcType=VARCHAR},
			#{f_10,jdbcType=VARCHAR},
			#{f_11,jdbcType=VARCHAR},
			#{f_12,jdbcType=VARCHAR},
			#{f_13,jdbcType=VARCHAR},
			#{f_14,jdbcType=VARCHAR},
			#{f_15,jdbcType=VARCHAR},
			#{f_16,jdbcType=VARCHAR},
			#{f_17,jdbcType=VARCHAR},
			#{f_18,jdbcType=VARCHAR},
			#{b_17,jdbcType=VARCHAR},
			#{c_17,jdbcType=VARCHAR},
			#{d_17,jdbcType=VARCHAR},
			#{e_17,jdbcType=VARCHAR},
			#{h_17,jdbcType=VARCHAR},
			#{i_17,jdbcType=VARCHAR},
			#{j_17,jdbcType=VARCHAR},
			#{k_17,jdbcType=VARCHAR},
			#{b_18,jdbcType=VARCHAR},
			#{c_18,jdbcType=VARCHAR},
			#{d_18,jdbcType=VARCHAR},
			#{e_18,jdbcType=VARCHAR},
			#{g_18,jdbcType=VARCHAR},
			#{h_18,jdbcType=VARCHAR},
			#{i_18,jdbcType=VARCHAR},
			#{j_18,jdbcType=VARCHAR},
			#{k_18,jdbcType=VARCHAR},
			#{b_19,jdbcType=VARCHAR},
			#{c_19,jdbcType=VARCHAR},
			#{d_19,jdbcType=VARCHAR},
			#{e_19,jdbcType=VARCHAR},
			#{g_19,jdbcType=VARCHAR},
			#{h_19,jdbcType=VARCHAR},
			#{i_19,jdbcType=VARCHAR},
			#{j_19,jdbcType=VARCHAR},
			#{k_19,jdbcType=VARCHAR},
			#{b_20,jdbcType=VARCHAR},
			#{c_20,jdbcType=VARCHAR},
			#{d_20,jdbcType=VARCHAR},
			#{e_20,jdbcType=VARCHAR},
			#{g_20,jdbcType=VARCHAR},
			#{h_20,jdbcType=VARCHAR},
			#{i_20,jdbcType=VARCHAR},
			#{j_20,jdbcType=VARCHAR},
			#{k_20,jdbcType=VARCHAR},
			#{b_21,jdbcType=VARCHAR},
			#{c_21,jdbcType=VARCHAR},
			#{d_21,jdbcType=VARCHAR},
			#{e_21,jdbcType=VARCHAR},
			#{g_21,jdbcType=VARCHAR},
			#{h_21,jdbcType=VARCHAR},
			#{i_21,jdbcType=VARCHAR},
			#{j_21,jdbcType=VARCHAR},
			#{k_21,jdbcType=VARCHAR},
			#{b_22,jdbcType=VARCHAR},
			#{c_22,jdbcType=VARCHAR},
			#{d_22,jdbcType=VARCHAR},
			#{e_22,jdbcType=VARCHAR},
			#{g_22,jdbcType=VARCHAR},
			#{h_22,jdbcType=VARCHAR},
			#{i_22,jdbcType=VARCHAR},
			#{j_22,jdbcType=VARCHAR},
			#{k_22,jdbcType=VARCHAR},
			#{b_23,jdbcType=VARCHAR},
			#{c_23,jdbcType=VARCHAR},
			#{d_23,jdbcType=VARCHAR},
			#{e_23,jdbcType=VARCHAR},
			#{g_23,jdbcType=VARCHAR},
			#{h_23,jdbcType=VARCHAR},
			#{i_23,jdbcType=VARCHAR},
			#{j_23,jdbcType=VARCHAR},
			#{k_23,jdbcType=VARCHAR},
			#{b_24,jdbcType=VARCHAR},
			#{c_24,jdbcType=VARCHAR},
			#{d_24,jdbcType=VARCHAR},
			#{e_24,jdbcType=VARCHAR},
			#{g_24,jdbcType=VARCHAR},
			#{h_24,jdbcType=VARCHAR},
			#{i_24,jdbcType=VARCHAR},
			#{j_24,jdbcType=VARCHAR},
			#{k_24,jdbcType=VARCHAR},
			#{b_25,jdbcType=VARCHAR},
			#{c_25,jdbcType=VARCHAR},
			#{d_25,jdbcType=VARCHAR},
			#{e_25,jdbcType=VARCHAR},
			#{g_25,jdbcType=VARCHAR},
			#{h_25,jdbcType=VARCHAR},
			#{i_25,jdbcType=VARCHAR},
			#{j_25,jdbcType=VARCHAR},
			#{k_25,jdbcType=VARCHAR},
			#{b_26,jdbcType=VARCHAR},
			#{c_26,jdbcType=VARCHAR},
			#{d_26,jdbcType=VARCHAR},
			#{e_26,jdbcType=VARCHAR},
			#{g_26,jdbcType=VARCHAR},
			#{h_26,jdbcType=VARCHAR},
			#{i_26,jdbcType=VARCHAR},
			#{j_26,jdbcType=VARCHAR},
			#{k_26,jdbcType=VARCHAR},
			#{b_27,jdbcType=VARCHAR},
			#{c_27,jdbcType=VARCHAR},
			#{d_27,jdbcType=VARCHAR},
			#{e_27,jdbcType=VARCHAR},
			#{g_27,jdbcType=VARCHAR},
			#{h_27,jdbcType=VARCHAR},
			#{i_27,jdbcType=VARCHAR},
			#{j_27,jdbcType=VARCHAR},
			#{k_27,jdbcType=VARCHAR},
			#{b_28,jdbcType=VARCHAR},
			#{c_28,jdbcType=VARCHAR},
			#{d_28,jdbcType=VARCHAR},
			#{e_28,jdbcType=VARCHAR},
			#{g_28,jdbcType=VARCHAR},
			#{h_28,jdbcType=VARCHAR},
			#{i_28,jdbcType=VARCHAR},
			#{j_28,jdbcType=VARCHAR},
			#{k_28,jdbcType=VARCHAR},
			#{b_29,jdbcType=VARCHAR},
			#{c_29,jdbcType=VARCHAR},
			#{d_29,jdbcType=VARCHAR},
			#{e_29,jdbcType=VARCHAR},
			#{g_29,jdbcType=VARCHAR},
			#{h_29,jdbcType=VARCHAR},
			#{i_29,jdbcType=VARCHAR},
			#{j_29,jdbcType=VARCHAR},
			#{k_29,jdbcType=VARCHAR}
		)
	</insert>

	<delete id="deleteModel" parameterType="com.jp.qxd.tax.model.pdf.Rpt002Model">
		delete
		from t_02
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</delete>
</mapper>