<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.qxd.tax.mapper.Pdf004Mapper">

	<select id="getModels" resultType="com.jp.qxd.tax.model.pdf.Rpt004Model"
		parameterType="com.jp.qxd.tax.model.pdf.Rpt004Model">
		SELECT
		*
		from t_04
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<insert id="insertModel"
		parameterType="com.jp.qxd.tax.model.pdf.Rpt004Model">
		insert into t_04
		(
			company_id
			,user_id
			,year
			,legalPersonName
			,ymdFrom
			,ymdTo
			,f_1_1
			,f_1_2
			,f_1_3
			,f_1_4
			,f_2_1
			,f_2_2
			,f_3_1
			,f_3_2
			,f_4_1
			,f_4_2
			,f_5_1
			,f_5_4
			,f_6_1
			,f_6_2
			,f_7_1
			,f_7_4
			,f_8_1
			,f_8_4
			,f_9_1
			,f_9_2
			,f_9_3
			,f_9_4
			,f_10_name
			,f_10_1
			,f_10_2
			,f_10_3
			,f_10_4
			,f_11_1
			,f_11_2
			,f_11_4
			,f_12_1
			,f_12_2
			,f_13_1
			,f_13_2
			,f_14_1
			,f_14_4
			,f_15_1
			,f_15_4
			,f_16_1
			,f_16_4
			,f_17_1
			,f_17_4
			,f_18_1
			,f_18_2
			,f_19_1
			,f_19_4
			,f_20_1
			,f_20_2
			,f_20_3
			,f_20_4
			,f_21_1
			,f_21_2
			,f_21_3
			,f_21_4_u
			,f_21_4_d
			,f_22_1
			,f_22_2
			,f_22_3
			,f_22_4_u
			,f_22_4_d
			,f_23_1
			,f_23_3
			,f_23_4
			,f_24_1
			,f_24_3
			,f_24_4
			,f_25_1
			,f_25_2
			,f_25_4_u
			,f_25_4_d
			,f_26_1
			,f_26_4
			,f_29_1
			,f_29_4
			,f_30_1
			,f_30_4
			,f_31_1
			,f_31_4
			,f_34_1
			,f_34_2
			,f_34_3
			,f_34_4_u
			,f_34_4_d
			,f_35_1
			,f_35_2
			,f_37_1
			,f_37_2
			,f_37_3
			,f_37_4
			,f_38_1
			,f_38_4
			,f_39_1
			,f_39_2
			,f_39_3
			,f_39_4_u
			,f_39_4_d
			,f_40_1
			,f_40_4
			,f_41_1
			,f_41_2
			,f_41_3
			,f_41_4_u
			,f_41_4_d
			,f_42_4
			,f_48_1
			,f_48_2
			,f_49_1
			,f_49_2
			,f_49_3
			,f_49_4_u
			,f_49_4_d
			,f_50_name
			,f_50_1
			,f_50_2
			,f_51_name
			,f_51_1
			,f_51_3
			,f_51_4
		) values (
			#{company_id,jdbcType=VARCHAR},
			#{userId,jdbcType=VARCHAR},
			#{year,jdbcType=VARCHAR},
			#{legalPersonName,jdbcType=VARCHAR},
			#{ymdFrom,jdbcType=VARCHAR},
			#{ymdTo,jdbcType=VARCHAR},
			#{f_1_1,jdbcType=VARCHAR},
			#{f_1_2,jdbcType=VARCHAR},
			#{f_1_3,jdbcType=VARCHAR},
			#{f_1_4,jdbcType=VARCHAR},
			#{f_2_1,jdbcType=VARCHAR},
			#{f_2_2,jdbcType=VARCHAR},
			#{f_3_1,jdbcType=VARCHAR},
			#{f_3_2,jdbcType=VARCHAR},
			#{f_4_1,jdbcType=VARCHAR},
			#{f_4_2,jdbcType=VARCHAR},
			#{f_5_1,jdbcType=VARCHAR},
			#{f_5_4,jdbcType=VARCHAR},
			#{f_6_1,jdbcType=VARCHAR},
			#{f_6_2,jdbcType=VARCHAR},
			#{f_7_1,jdbcType=VARCHAR},
			#{f_7_4,jdbcType=VARCHAR},
			#{f_8_1,jdbcType=VARCHAR},
			#{f_8_4,jdbcType=VARCHAR},
			#{f_9_1,jdbcType=VARCHAR},
			#{f_9_2,jdbcType=VARCHAR},
			#{f_9_3,jdbcType=VARCHAR},
			#{f_9_4,jdbcType=VARCHAR},
			#{f_10_name,jdbcType=VARCHAR},
			#{f_10_1,jdbcType=VARCHAR},
			#{f_10_2,jdbcType=VARCHAR},
			#{f_10_3,jdbcType=VARCHAR},
			#{f_10_4,jdbcType=VARCHAR},
			#{f_11_1,jdbcType=VARCHAR},
			#{f_11_2,jdbcType=VARCHAR},
			#{f_11_4,jdbcType=VARCHAR},
			#{f_12_1,jdbcType=VARCHAR},
			#{f_12_2,jdbcType=VARCHAR},
			#{f_13_1,jdbcType=VARCHAR},
			#{f_13_2,jdbcType=VARCHAR},
			#{f_14_1,jdbcType=VARCHAR},
			#{f_14_4,jdbcType=VARCHAR},
			#{f_15_1,jdbcType=VARCHAR},
			#{f_15_4,jdbcType=VARCHAR},
			#{f_16_1,jdbcType=VARCHAR},
			#{f_16_4,jdbcType=VARCHAR},
			#{f_17_1,jdbcType=VARCHAR},
			#{f_17_4,jdbcType=VARCHAR},
			#{f_18_1,jdbcType=VARCHAR},
			#{f_18_2,jdbcType=VARCHAR},
			#{f_19_1,jdbcType=VARCHAR},
			#{f_19_4,jdbcType=VARCHAR},
			#{f_20_1,jdbcType=VARCHAR},
			#{f_20_2,jdbcType=VARCHAR},
			#{f_20_3,jdbcType=VARCHAR},
			#{f_20_4,jdbcType=VARCHAR},
			#{f_21_1,jdbcType=VARCHAR},
			#{f_21_2,jdbcType=VARCHAR},
			#{f_21_3,jdbcType=VARCHAR},
			#{f_21_4_u,jdbcType=VARCHAR},
			#{f_21_4_d,jdbcType=VARCHAR},
			#{f_22_1,jdbcType=VARCHAR},
			#{f_22_2,jdbcType=VARCHAR},
			#{f_22_3,jdbcType=VARCHAR},
			#{f_22_4_u,jdbcType=VARCHAR},
			#{f_22_4_d,jdbcType=VARCHAR},
			#{f_23_1,jdbcType=VARCHAR},
			#{f_23_3,jdbcType=VARCHAR},
			#{f_23_4,jdbcType=VARCHAR},
			#{f_24_1,jdbcType=VARCHAR},
			#{f_24_3,jdbcType=VARCHAR},
			#{f_24_4,jdbcType=VARCHAR},
			#{f_25_1,jdbcType=VARCHAR},
			#{f_25_2,jdbcType=VARCHAR},
			#{f_25_4_u,jdbcType=VARCHAR},
			#{f_25_4_d,jdbcType=VARCHAR},
			#{f_26_1,jdbcType=VARCHAR},
			#{f_26_4,jdbcType=VARCHAR},
			#{f_29_1,jdbcType=VARCHAR},
			#{f_29_4,jdbcType=VARCHAR},
			#{f_30_1,jdbcType=VARCHAR},
			#{f_30_4,jdbcType=VARCHAR},
			#{f_31_1,jdbcType=VARCHAR},
			#{f_31_4,jdbcType=VARCHAR},
			#{f_34_1,jdbcType=VARCHAR},
			#{f_34_2,jdbcType=VARCHAR},
			#{f_34_3,jdbcType=VARCHAR},
			#{f_34_4_u,jdbcType=VARCHAR},
			#{f_34_4_d,jdbcType=VARCHAR},
			#{f_35_1,jdbcType=VARCHAR},
			#{f_35_2,jdbcType=VARCHAR},
			#{f_37_1,jdbcType=VARCHAR},
			#{f_37_2,jdbcType=VARCHAR},
			#{f_37_3,jdbcType=VARCHAR},
			#{f_37_4,jdbcType=VARCHAR},
			#{f_38_1,jdbcType=VARCHAR},
			#{f_38_4,jdbcType=VARCHAR},
			#{f_39_1,jdbcType=VARCHAR},
			#{f_39_2,jdbcType=VARCHAR},
			#{f_39_3,jdbcType=VARCHAR},
			#{f_39_4_u,jdbcType=VARCHAR},
			#{f_39_4_d,jdbcType=VARCHAR},
			#{f_40_1,jdbcType=VARCHAR},
			#{f_40_4,jdbcType=VARCHAR},
			#{f_41_1,jdbcType=VARCHAR},
			#{f_41_2,jdbcType=VARCHAR},
			#{f_41_3,jdbcType=VARCHAR},
			#{f_41_4_u,jdbcType=VARCHAR},
			#{f_41_4_d,jdbcType=VARCHAR},
			#{f_42_4,jdbcType=VARCHAR},
			#{f_48_1,jdbcType=VARCHAR},
			#{f_48_2,jdbcType=VARCHAR},
			#{f_49_1,jdbcType=VARCHAR},
			#{f_49_2,jdbcType=VARCHAR},
			#{f_49_3,jdbcType=VARCHAR},
			#{f_49_4_u,jdbcType=VARCHAR},
			#{f_49_4_d,jdbcType=VARCHAR},
			#{f_50_name,jdbcType=VARCHAR},
			#{f_50_1,jdbcType=VARCHAR},
			#{f_50_2,jdbcType=VARCHAR},
			#{f_51_name,jdbcType=VARCHAR},
			#{f_51_1,jdbcType=VARCHAR},
			#{f_51_3,jdbcType=VARCHAR},
			#{f_51_4,jdbcType=VARCHAR}
		)
	</insert>
	<delete id="deleteModel" parameterType="com.jp.qxd.tax.model.pdf.Rpt004Model">
		delete
		from t_04
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</delete>
</mapper>