<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.qxd.tax.mapper.Pdf001Mapper">

	<select id="getModels" resultType="com.jp.qxd.tax.model.pdf.Rpt001Model"
		parameterType="com.jp.qxd.tax.model.pdf.Rpt001Model">
		SELECT
		*
		from t_01
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<insert id="insertModel"
		parameterType="com.jp.qxd.tax.model.pdf.Rpt001Model">
		insert into t_01
		(
			company_id
			,user_id
			,year
			,legalPersonName
			,legalPersonName_k
			,legalPersonName_h
			,b_03
			,b_04
			,b_05
			,representativeName_k
			,representativeName_h
			,representativeName
			,b_10
			,accountingName_h
			,accountingName
			,b_12
			,b_13
			,b_14
			,b_68
			,b_15
			,b_16
			,b_17
			,b_18
			,b_19
			,b_20
			,b_21
			,b_22
			,b_23
			,b_24
			,b_25
			,b_26
			,b_27
			,b_28
			,b_29
			,b_30
			,b_71
			,b_67
			,b_31
			,b_32
			,b_33
			,b_34
			,q46
			,b_35
			,b_35_1
			,b_35_2
			,b_69
			,b_36
			,b_36_1
			,b_36_2
			,b_70
			,b_37
			,b_38
			,b_39
			,b_40
			,b_41
			,b_42
			,b_43
			,billing_amount
			,a1
			,a2
			,f_1
			,f_2
			,f_3
			,f_4
			,f_5
			,f_6
			,f_7
			,f_8
			,f_9
			,f_10
			,f_11
			,f_12
			,f_13
			,f_14
			,f_15
			,f_16
			,f_33
			,f_34
			,f_35
			,f_36
			,f_37
			,f_38
			,f_39
			,f_40
			,f_41
			,f_42
			,f_43
			,f_44
			,f_17
			,f_18
			,f_19
			,f_20
			,f_21
			,f_22
			,f_23
			,f_24
			,f_25
			,f_26
			,f_27
			,f_28
			,f_29
			,f_30
			,f_31
			,f_32
			,f_45
			,f_46
			,f_47
			,f_48
			,f_49
		) values (
			#{company_id,jdbcType=VARCHAR},
			#{userId,jdbcType=VARCHAR},
			#{year,jdbcType=VARCHAR},
			#{legalPersonName,jdbcType=VARCHAR},
			#{legalPersonName_k,jdbcType=VARCHAR},
			#{legalPersonName_h,jdbcType=VARCHAR},
			#{b_03,jdbcType=VARCHAR},
			#{b_04,jdbcType=VARCHAR},
			#{b_05,jdbcType=VARCHAR},
			#{representativeName_k,jdbcType=VARCHAR},
			#{representativeName_h,jdbcType=VARCHAR},
			#{representativeName,jdbcType=VARCHAR},
			#{b_10,jdbcType=VARCHAR},
			#{accountingName_h,jdbcType=VARCHAR},
			#{accountingName,jdbcType=VARCHAR},
			#{b_12,jdbcType=VARCHAR},
			#{b_13,jdbcType=VARCHAR},
			#{b_14,jdbcType=VARCHAR},
			#{b_68,jdbcType=VARCHAR},
			#{b_15,jdbcType=VARCHAR},
			#{b_16,jdbcType=VARCHAR},
			#{b_17,jdbcType=VARCHAR},
			#{b_18,jdbcType=VARCHAR},
			#{b_19,jdbcType=VARCHAR},
			#{b_20,jdbcType=VARCHAR},
			#{b_21,jdbcType=VARCHAR},
			#{b_22,jdbcType=VARCHAR},
			#{b_23,jdbcType=VARCHAR},
			#{b_24,jdbcType=VARCHAR},
			#{b_25,jdbcType=VARCHAR},
			#{b_26,jdbcType=VARCHAR},
			#{b_27,jdbcType=VARCHAR},
			#{b_28,jdbcType=VARCHAR},
			#{b_29,jdbcType=VARCHAR},
			#{b_30,jdbcType=VARCHAR},
			#{b_71,jdbcType=VARCHAR},
			#{b_67,jdbcType=VARCHAR},
			#{b_31,jdbcType=VARCHAR},
			#{b_32,jdbcType=VARCHAR},
			#{b_33,jdbcType=VARCHAR},
			#{b_34,jdbcType=VARCHAR},
			#{q46,jdbcType=VARCHAR},
			#{b_35,jdbcType=VARCHAR},
			#{b_35_1,jdbcType=VARCHAR},
			#{b_35_2,jdbcType=VARCHAR},
			#{b_69,jdbcType=VARCHAR},
			#{b_36,jdbcType=VARCHAR},
			#{b_36_1,jdbcType=VARCHAR},
			#{b_36_2,jdbcType=VARCHAR},
			#{b_70,jdbcType=VARCHAR},
			#{b_37,jdbcType=VARCHAR},
			#{b_38,jdbcType=VARCHAR},
			#{b_39,jdbcType=VARCHAR},
			#{b_40,jdbcType=VARCHAR},
			#{b_41,jdbcType=VARCHAR},
			#{b_42,jdbcType=VARCHAR},
			#{b_43,jdbcType=VARCHAR},
			#{billing_amount,jdbcType=VARCHAR},
			#{a1,jdbcType=VARCHAR},
			#{a2,jdbcType=VARCHAR},
			#{f_1,jdbcType=VARCHAR},
			#{f_2,jdbcType=VARCHAR},
			#{f_3,jdbcType=VARCHAR},
			#{f_4,jdbcType=VARCHAR},
			#{f_5,jdbcType=VARCHAR},
			#{f_6,jdbcType=VARCHAR},
			#{f_7,jdbcType=VARCHAR},
			#{f_8,jdbcType=VARCHAR},
			#{f_9,jdbcType=VARCHAR},
			#{f_10,jdbcType=VARCHAR},
			#{f_11,jdbcType=VARCHAR},
			#{f_12,jdbcType=VARCHAR},
			#{f_13,jdbcType=VARCHAR},
			#{f_14,jdbcType=VARCHAR},
			#{f_15,jdbcType=VARCHAR},
			#{f_16,jdbcType=VARCHAR},
			#{f_33,jdbcType=VARCHAR},
			#{f_34,jdbcType=VARCHAR},
			#{f_35,jdbcType=VARCHAR},
			#{f_36,jdbcType=VARCHAR},
			#{f_37,jdbcType=VARCHAR},
			#{f_38,jdbcType=VARCHAR},
			#{f_39,jdbcType=VARCHAR},
			#{f_40,jdbcType=VARCHAR},
			#{f_41,jdbcType=VARCHAR},
			#{f_42,jdbcType=VARCHAR},
			#{f_43,jdbcType=VARCHAR},
			#{f_44,jdbcType=VARCHAR},
			#{f_17,jdbcType=VARCHAR},
			#{f_18,jdbcType=VARCHAR},
			#{f_19,jdbcType=VARCHAR},
			#{f_20,jdbcType=VARCHAR},
			#{f_21,jdbcType=VARCHAR},
			#{f_22,jdbcType=VARCHAR},
			#{f_23,jdbcType=VARCHAR},
			#{f_24,jdbcType=VARCHAR},
			#{f_25,jdbcType=VARCHAR},
			#{f_26,jdbcType=VARCHAR},
			#{f_27,jdbcType=VARCHAR},
			#{f_28,jdbcType=VARCHAR},
			#{f_29,jdbcType=VARCHAR},
			#{f_30,jdbcType=VARCHAR},
			#{f_31,jdbcType=VARCHAR},
			#{f_32,jdbcType=VARCHAR},
			#{f_45,jdbcType=VARCHAR},
			#{f_46,jdbcType=VARCHAR},
			#{f_47,jdbcType=VARCHAR},
			#{f_48,jdbcType=VARCHAR},
			#{f_49,jdbcType=VARCHAR}
		)
	</insert>

	<delete id="deleteModel" parameterType="com.jp.qxd.tax.model.pdf.Rpt001Model">
		delete
		from t_01
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</delete>
</mapper>