<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.qxd.tax.mapper.Pdf00502Mapper">

	<select id="getModels" resultType="com.jp.qxd.tax.model.pdf.Rpt00502Model"
		parameterType="com.jp.qxd.tax.model.pdf.Rpt00502Model">
		SELECT
		*
		from t_0502
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<insert id="insertModel"
		parameterType="com.jp.qxd.tax.model.pdf.Rpt00502Model">
		insert into t_0502
		(
			company_id
			,user_id
			,year
			,legalPersonName
			,ymdFrom
			,ymdTo
			,f_1_1
			,f_1_3
			,f_1_4
			,f_1_5
			,f_1_6
			,f_2_1
			,f_2_3
			,f_2_4
			,f_2_5
			,f_2_6
			,f_3_2
			,f_3_3
			,f_3_4
			,f_3_5
			,f_3_6
			,f_4_2
			,f_4_6
			,f_5_1
			,f_5_2
			,f_5_3
			,f_5_4
			,f_5_5
			,f_5_6
			,f_6_1
			,f_6_3
			,f_6_4
			,f_6_5
			,f_6_6
			,f_7_1_u
			,f_7_3_u
			,f_7_4_u
			,f_7_5_u
			,f_7_6_u
			,f_7_1_d
			,f_7_3_d
			,f_7_4_d
			,f_7_5_d
			,f_7_6_d
			,f_8_2
			,f_8_3
			,f_8_4
			,f_8_5
			,f_8_6
			,f_9_2_u
			,f_9_6_u
			,f_9_2_d
			,f_9_6_d
			,f_10_2
			,f_10_6
			,f_11_1
			,f_11_3
			,f_11_4
			,f_11_5
			,f_11_6
			,f_12_1_u
			,f_12_3_u
			,f_12_4_u
			,f_12_5_u
			,f_12_6_u
			,f_12_1_d
			,f_12_3_d
			,f_12_4_d
			,f_12_5_d
			,f_12_6_d
			,f_13_3
			,f_13_4
			,f_13_5
			,f_13_6
			,f_14_2_u
			,f_14_6_u
			,f_14_2_d
			,f_14_6_d
			,f_15_2
			,f_15_6
			,f_16_1
			,f_16_2
			,f_16_3
			,f_16_4
			,f_16_5
			,f_16_6
			,f_17_1
			,f_17_2
			,f_17_3
			,f_17_4
			,f_17_5
			,f_17_6
			,f_18_2
			,f_18_3
			,f_18_4
			,f_18_5
			,f_18_6
			,f_19_2
			,f_19_3
			,f_19_4
			,f_19_5
			,f_19_6
			,f_20_1
			,f_20_2
			,f_20_3
			,f_20_4
			,f_20_5
			,f_20_6
			,f_21_1
			,f_21_2
			,f_21_3
			,f_21_4
			,f_21_5
			,f_21_6
			,f_22_name
			,f_22_1
			,f_22_2
			,f_22_3
			,f_22_4
			,f_22_5
			,f_22_6
			,f_23_name
			,f_23_1
			,f_23_2
			,f_23_3
			,f_23_4
			,f_23_5
			,f_23_6
			,f_24_1
			,f_24_2
			,f_24_3
			,f_24_4
			,f_24_5
			,f_24_6
			,f_25_1
			,f_25_2
			,f_25_3
			,f_25_4
			,f_25_5
			,f_25_6
			,f_26_1
			,f_26_2
			,f_26_3
			,f_26_4
			,f_26_5
			,f_26_6
			,f_27_1
			,f_27_2
			,f_27_3
			,f_27_4
			,f_27_5
			,f_27_6
			,f_28_1
			,f_28_2
			,f_28_3
			,f_28_4
			,f_28_5
			,f_28_6
			,f_29_name
			,f_29_1
			,f_29_2
			,f_29_3
			,f_29_4
			,f_29_5
			,f_29_6
			,f_30_1
			,f_30_2
			,f_30_3
			,f_30_4
			,f_30_5
			,f_30_6
			,f_31
			,f_32
			,f_33
			,f_34
			,f_35
			,f_36
			,f_37
			,f_38
			,f_39
			,f_40
			,f_41
			,f_1_date_from
			,f_2_date_from
			,f_6_date_from
			,f_7_date_from
			,f_11_date_from
			,f_12_date_from
			,f_16_date_from
			,f_17_date_from
			,f_1_date_to
			,f_2_date_to
			,f_6_date_to
			,f_7_date_to
			,f_11_date_to
			,f_12_date_to
			,f_16_date_to
			,f_17_date_to
		) values (
			#{company_id,jdbcType=VARCHAR},
			#{userId,jdbcType=VARCHAR},
			#{year,jdbcType=VARCHAR},
			#{legalPersonName,jdbcType=VARCHAR},
			#{ymdFrom,jdbcType=VARCHAR},
			#{ymdTo,jdbcType=VARCHAR},
			#{f_1_1,jdbcType=VARCHAR},
			#{f_1_3,jdbcType=VARCHAR},
			#{f_1_4,jdbcType=VARCHAR},
			#{f_1_5,jdbcType=VARCHAR},
			#{f_1_6,jdbcType=VARCHAR},
			#{f_2_1,jdbcType=VARCHAR},
			#{f_2_3,jdbcType=VARCHAR},
			#{f_2_4,jdbcType=VARCHAR},
			#{f_2_5,jdbcType=VARCHAR},
			#{f_2_6,jdbcType=VARCHAR},
			#{f_3_2,jdbcType=VARCHAR},
			#{f_3_3,jdbcType=VARCHAR},
			#{f_3_4,jdbcType=VARCHAR},
			#{f_3_5,jdbcType=VARCHAR},
			#{f_3_6,jdbcType=VARCHAR},
			#{f_4_2,jdbcType=VARCHAR},
			#{f_4_6,jdbcType=VARCHAR},
			#{f_5_1,jdbcType=VARCHAR},
			#{f_5_2,jdbcType=VARCHAR},
			#{f_5_3,jdbcType=VARCHAR},
			#{f_5_4,jdbcType=VARCHAR},
			#{f_5_5,jdbcType=VARCHAR},
			#{f_5_6,jdbcType=VARCHAR},
			#{f_6_1,jdbcType=VARCHAR},
			#{f_6_3,jdbcType=VARCHAR},
			#{f_6_4,jdbcType=VARCHAR},
			#{f_6_5,jdbcType=VARCHAR},
			#{f_6_6,jdbcType=VARCHAR},
			#{f_7_1_u,jdbcType=VARCHAR},
			#{f_7_3_u,jdbcType=VARCHAR},
			#{f_7_4_u,jdbcType=VARCHAR},
			#{f_7_5_u,jdbcType=VARCHAR},
			#{f_7_6_u,jdbcType=VARCHAR},
			#{f_7_1_d,jdbcType=VARCHAR},
			#{f_7_3_d,jdbcType=VARCHAR},
			#{f_7_4_d,jdbcType=VARCHAR},
			#{f_7_5_d,jdbcType=VARCHAR},
			#{f_7_6_d,jdbcType=VARCHAR},
			#{f_8_2,jdbcType=VARCHAR},
			#{f_8_3,jdbcType=VARCHAR},
			#{f_8_4,jdbcType=VARCHAR},
			#{f_8_5,jdbcType=VARCHAR},
			#{f_8_6,jdbcType=VARCHAR},
			#{f_9_2_u,jdbcType=VARCHAR},
			#{f_9_6_u,jdbcType=VARCHAR},
			#{f_9_2_d,jdbcType=VARCHAR},
			#{f_9_6_d,jdbcType=VARCHAR},
			#{f_10_2,jdbcType=VARCHAR},
			#{f_10_6,jdbcType=VARCHAR},
			#{f_11_1,jdbcType=VARCHAR},
			#{f_11_3,jdbcType=VARCHAR},
			#{f_11_4,jdbcType=VARCHAR},
			#{f_11_5,jdbcType=VARCHAR},
			#{f_11_6,jdbcType=VARCHAR},
			#{f_12_1_u,jdbcType=VARCHAR},
			#{f_12_3_u,jdbcType=VARCHAR},
			#{f_12_4_u,jdbcType=VARCHAR},
			#{f_12_5_u,jdbcType=VARCHAR},
			#{f_12_6_u,jdbcType=VARCHAR},
			#{f_12_1_d,jdbcType=VARCHAR},
			#{f_12_3_d,jdbcType=VARCHAR},
			#{f_12_4_d,jdbcType=VARCHAR},
			#{f_12_5_d,jdbcType=VARCHAR},
			#{f_12_6_d,jdbcType=VARCHAR},
			#{f_13_3,jdbcType=VARCHAR},
			#{f_13_4,jdbcType=VARCHAR},
			#{f_13_5,jdbcType=VARCHAR},
			#{f_13_6,jdbcType=VARCHAR},
			#{f_14_2_u,jdbcType=VARCHAR},
			#{f_14_6_u,jdbcType=VARCHAR},
			#{f_14_2_d,jdbcType=VARCHAR},
			#{f_14_6_d,jdbcType=VARCHAR},
			#{f_15_2,jdbcType=VARCHAR},
			#{f_15_6,jdbcType=VARCHAR},
			#{f_16_1,jdbcType=VARCHAR},
			#{f_16_2,jdbcType=VARCHAR},
			#{f_16_3,jdbcType=VARCHAR},
			#{f_16_4,jdbcType=VARCHAR},
			#{f_16_5,jdbcType=VARCHAR},
			#{f_16_6,jdbcType=VARCHAR},
			#{f_17_1,jdbcType=VARCHAR},
			#{f_17_2,jdbcType=VARCHAR},
			#{f_17_3,jdbcType=VARCHAR},
			#{f_17_4,jdbcType=VARCHAR},
			#{f_17_5,jdbcType=VARCHAR},
			#{f_17_6,jdbcType=VARCHAR},
			#{f_18_2,jdbcType=VARCHAR},
			#{f_18_3,jdbcType=VARCHAR},
			#{f_18_4,jdbcType=VARCHAR},
			#{f_18_5,jdbcType=VARCHAR},
			#{f_18_6,jdbcType=VARCHAR},
			#{f_19_2,jdbcType=VARCHAR},
			#{f_19_3,jdbcType=VARCHAR},
			#{f_19_4,jdbcType=VARCHAR},
			#{f_19_5,jdbcType=VARCHAR},
			#{f_19_6,jdbcType=VARCHAR},
			#{f_20_1,jdbcType=VARCHAR},
			#{f_20_2,jdbcType=VARCHAR},
			#{f_20_3,jdbcType=VARCHAR},
			#{f_20_4,jdbcType=VARCHAR},
			#{f_20_5,jdbcType=VARCHAR},
			#{f_20_6,jdbcType=VARCHAR},
			#{f_21_1,jdbcType=VARCHAR},
			#{f_21_2,jdbcType=VARCHAR},
			#{f_21_3,jdbcType=VARCHAR},
			#{f_21_4,jdbcType=VARCHAR},
			#{f_21_5,jdbcType=VARCHAR},
			#{f_21_6,jdbcType=VARCHAR},
			#{f_22_name,jdbcType=VARCHAR},
			#{f_22_1,jdbcType=VARCHAR},
			#{f_22_2,jdbcType=VARCHAR},
			#{f_22_3,jdbcType=VARCHAR},
			#{f_22_4,jdbcType=VARCHAR},
			#{f_22_5,jdbcType=VARCHAR},
			#{f_22_6,jdbcType=VARCHAR},
			#{f_23_name,jdbcType=VARCHAR},
			#{f_23_1,jdbcType=VARCHAR},
			#{f_23_2,jdbcType=VARCHAR},
			#{f_23_3,jdbcType=VARCHAR},
			#{f_23_4,jdbcType=VARCHAR},
			#{f_23_5,jdbcType=VARCHAR},
			#{f_23_6,jdbcType=VARCHAR},
			#{f_24_1,jdbcType=VARCHAR},
			#{f_24_2,jdbcType=VARCHAR},
			#{f_24_3,jdbcType=VARCHAR},
			#{f_24_4,jdbcType=VARCHAR},
			#{f_24_5,jdbcType=VARCHAR},
			#{f_24_6,jdbcType=VARCHAR},
			#{f_25_1,jdbcType=VARCHAR},
			#{f_25_2,jdbcType=VARCHAR},
			#{f_25_3,jdbcType=VARCHAR},
			#{f_25_4,jdbcType=VARCHAR},
			#{f_25_5,jdbcType=VARCHAR},
			#{f_25_6,jdbcType=VARCHAR},
			#{f_26_1,jdbcType=VARCHAR},
			#{f_26_2,jdbcType=VARCHAR},
			#{f_26_3,jdbcType=VARCHAR},
			#{f_26_4,jdbcType=VARCHAR},
			#{f_26_5,jdbcType=VARCHAR},
			#{f_26_6,jdbcType=VARCHAR},
			#{f_27_1,jdbcType=VARCHAR},
			#{f_27_2,jdbcType=VARCHAR},
			#{f_27_3,jdbcType=VARCHAR},
			#{f_27_4,jdbcType=VARCHAR},
			#{f_27_5,jdbcType=VARCHAR},
			#{f_27_6,jdbcType=VARCHAR},
			#{f_28_1,jdbcType=VARCHAR},
			#{f_28_2,jdbcType=VARCHAR},
			#{f_28_3,jdbcType=VARCHAR},
			#{f_28_4,jdbcType=VARCHAR},
			#{f_28_5,jdbcType=VARCHAR},
			#{f_28_6,jdbcType=VARCHAR},
			#{f_29_name,jdbcType=VARCHAR},
			#{f_29_1,jdbcType=VARCHAR},
			#{f_29_2,jdbcType=VARCHAR},
			#{f_29_3,jdbcType=VARCHAR},
			#{f_29_4,jdbcType=VARCHAR},
			#{f_29_5,jdbcType=VARCHAR},
			#{f_29_6,jdbcType=VARCHAR},
			#{f_30_1,jdbcType=VARCHAR},
			#{f_30_2,jdbcType=VARCHAR},
			#{f_30_3,jdbcType=VARCHAR},
			#{f_30_4,jdbcType=VARCHAR},
			#{f_30_5,jdbcType=VARCHAR},
			#{f_30_6,jdbcType=VARCHAR},
			#{f_31,jdbcType=VARCHAR},
			#{f_32,jdbcType=VARCHAR},
			#{f_33,jdbcType=VARCHAR},
			#{f_34,jdbcType=VARCHAR},
			#{f_35,jdbcType=VARCHAR},
			#{f_36,jdbcType=VARCHAR},
			#{f_37,jdbcType=VARCHAR},
			#{f_38,jdbcType=VARCHAR},
			#{f_39,jdbcType=VARCHAR},
			#{f_40,jdbcType=VARCHAR},
			#{f_41,jdbcType=VARCHAR},
			#{f_1_date_from,jdbcType=VARCHAR},
			#{f_2_date_from,jdbcType=VARCHAR},
			#{f_6_date_from,jdbcType=VARCHAR},
			#{f_7_date_from,jdbcType=VARCHAR},
			#{f_11_date_from,jdbcType=VARCHAR},
			#{f_12_date_from,jdbcType=VARCHAR},
			#{f_16_date_from,jdbcType=VARCHAR},
			#{f_17_date_from,jdbcType=VARCHAR},
			#{f_1_date_to,jdbcType=VARCHAR},
			#{f_2_date_to,jdbcType=VARCHAR},
			#{f_6_date_to,jdbcType=VARCHAR},
			#{f_7_date_to,jdbcType=VARCHAR},
			#{f_11_date_to,jdbcType=VARCHAR},
			#{f_12_date_to,jdbcType=VARCHAR},
			#{f_16_date_to,jdbcType=VARCHAR},
			#{f_17_date_to,jdbcType=VARCHAR}
		)
	</insert>
	<delete id="deleteModel" parameterType="com.jp.qxd.tax.model.pdf.Rpt00502Model">
		delete
		from t_0502
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</delete>
</mapper>