<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.qxd.tax.mapper.Pdf008Mapper">

	<select id="getModels" resultType="com.jp.qxd.tax.model.pdf.Rpt008Model"
		parameterType="com.jp.qxd.tax.model.pdf.Rpt008Model">
		SELECT
		*
		from t_08
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<insert id="insertModel"
		parameterType="com.jp.qxd.tax.model.pdf.Rpt008Model">
		insert into t_08
		(
			company_id
			,user_id
			,year
			,legalPersonName
			,ymdFrom
			,ymdTo
			,f_1
			,f_2
			,f_3
			,f_4
			,f_5
			,f_6
			,f_7
			,f_8
			,f_9
			,f_10
			,f_11
			,f_12
			,f_13
			,f_14
			,f_15
			,f_16
			,f_17
			,f_18
			,f_19
			,f_20
			,f_21
			,f_22
			,f_23
			,f_24
			,f_25
			,f_26
			,f_27_1
			,f_28_1
			,f_29_1
			,f_30_1
			,f_27_2
			,f_28_2
			,f_29_2
			,f_30_2
			,f_27_total
			,f_28_total
			,f_29_total
			,f_30_total
			,f_brand_1
			,f_HeadOfficeLocation_1
			,f_dataFrom_1
			,f_dataTo_1
			,f_31_1
			,f_brand_2
			,f_HeadOfficeLocation_2
			,f_dataFrom_2
			,f_dataTo_2
			,f_31_2
			,f_31_total
			,f_brand_3
			,f_HeadOfficeLocation_3
			,f_dataFrom_3
			,f_dataTo_3
			,f_holdingRatio_1
			,f_32_1
			,f_33_1
			,f_34_1
			,f_brand_4
			,f_HeadOfficeLocation_4
			,f_dataFrom_4
			,f_dataTo_4
			,f_holdingRatio_2
			,f_32_2
			,f_33_2
			,f_34_2
			,f_32_total
			,f_33_total
			,f_34_total
			,f_brand_5
			,f_HeadOfficeLocation_5
			,f_35_1
			,f_36_1
			,f_37_1
			,f_brand_6
			,f_HeadOfficeLocation_6
			,f_35_2
			,f_36_2
			,f_37_2
			,f_35_total
			,f_36_total
			,f_37_total
			,f_brand_7
			,f_38_1
			,f_39_1
			,f_40_1
			,f_41_1
			,f_42_1
			,f_43_1
			,f_brand_8
			,f_38_2
			,f_39_2
			,f_40_2
			,f_41_2
			,f_42_2
			,f_43_2
			,f_41_total
			,f_42_total
			,f_43_total
		) values (
			#{company_id,jdbcType=VARCHAR},
			#{userId,jdbcType=VARCHAR},
			#{year,jdbcType=VARCHAR},
			#{legalPersonName,jdbcType=VARCHAR},
			#{ymdFrom,jdbcType=VARCHAR},
			#{ymdTo,jdbcType=VARCHAR},
			#{f_1,jdbcType=VARCHAR},
			#{f_2,jdbcType=VARCHAR},
			#{f_3,jdbcType=VARCHAR},
			#{f_4,jdbcType=VARCHAR},
			#{f_5,jdbcType=VARCHAR},
			#{f_6,jdbcType=VARCHAR},
			#{f_7,jdbcType=VARCHAR},
			#{f_8,jdbcType=VARCHAR},
			#{f_9,jdbcType=VARCHAR},
			#{f_10,jdbcType=VARCHAR},
			#{f_11,jdbcType=VARCHAR},
			#{f_12,jdbcType=VARCHAR},
			#{f_13,jdbcType=VARCHAR},
			#{f_14,jdbcType=VARCHAR},
			#{f_15,jdbcType=VARCHAR},
			#{f_16,jdbcType=VARCHAR},
			#{f_17,jdbcType=VARCHAR},
			#{f_18,jdbcType=VARCHAR},
			#{f_19,jdbcType=VARCHAR},
			#{f_20,jdbcType=VARCHAR},
			#{f_21,jdbcType=VARCHAR},
			#{f_22,jdbcType=VARCHAR},
			#{f_23,jdbcType=VARCHAR},
			#{f_24,jdbcType=VARCHAR},
			#{f_25,jdbcType=VARCHAR},
			#{f_26,jdbcType=VARCHAR},
			#{f_27_1,jdbcType=VARCHAR},
			#{f_28_1,jdbcType=VARCHAR},
			#{f_29_1,jdbcType=VARCHAR},
			#{f_30_1,jdbcType=VARCHAR},
			#{f_27_2,jdbcType=VARCHAR},
			#{f_28_2,jdbcType=VARCHAR},
			#{f_29_2,jdbcType=VARCHAR},
			#{f_30_2,jdbcType=VARCHAR},
			#{f_27_total,jdbcType=VARCHAR},
			#{f_28_total,jdbcType=VARCHAR},
			#{f_29_total,jdbcType=VARCHAR},
			#{f_30_total,jdbcType=VARCHAR},
			#{f_brand_1,jdbcType=VARCHAR},
			#{f_HeadOfficeLocation_1,jdbcType=VARCHAR},
			#{f_dataFrom_1,jdbcType=VARCHAR},
			#{f_dataTo_1,jdbcType=VARCHAR},
			#{f_31_1,jdbcType=VARCHAR},
			#{f_brand_2,jdbcType=VARCHAR},
			#{f_HeadOfficeLocation_2,jdbcType=VARCHAR},
			#{f_dataFrom_2,jdbcType=VARCHAR},
			#{f_dataTo_2,jdbcType=VARCHAR},
			#{f_31_2,jdbcType=VARCHAR},
			#{f_31_total,jdbcType=VARCHAR},
			#{f_brand_3 ,jdbcType=VARCHAR},
			#{f_HeadOfficeLocation_3,jdbcType=VARCHAR},
			#{f_dataFrom_3,jdbcType=VARCHAR},
			#{f_dataTo_3,jdbcType=VARCHAR},
			#{f_holdingRatio_1,jdbcType=VARCHAR},
			#{f_32_1,jdbcType=VARCHAR},
			#{f_33_1,jdbcType=VARCHAR},
			#{f_34_1,jdbcType=VARCHAR},
			#{f_brand_4 ,jdbcType=VARCHAR},
			#{f_HeadOfficeLocation_4,jdbcType=VARCHAR},
			#{f_dataFrom_4,jdbcType=VARCHAR},
			#{f_dataTo_4,jdbcType=VARCHAR},
			#{f_holdingRatio_2,jdbcType=VARCHAR},
			#{f_32_2,jdbcType=VARCHAR},
			#{f_33_2,jdbcType=VARCHAR},
			#{f_34_2,jdbcType=VARCHAR},
			#{f_32_total,jdbcType=VARCHAR},
			#{f_33_total,jdbcType=VARCHAR},
			#{f_34_total,jdbcType=VARCHAR},
			#{f_brand_5,jdbcType=VARCHAR},
			#{f_HeadOfficeLocation_5,jdbcType=VARCHAR},
			#{f_35_1,jdbcType=VARCHAR},
			#{f_36_1,jdbcType=VARCHAR},
			#{f_37_1,jdbcType=VARCHAR},
			#{f_brand_6,jdbcType=VARCHAR},
			#{f_HeadOfficeLocation_6,jdbcType=VARCHAR},
			#{f_35_2,jdbcType=VARCHAR},
			#{f_36_2,jdbcType=VARCHAR},
			#{f_37_2,jdbcType=VARCHAR},
			#{f_35_total,jdbcType=VARCHAR},
			#{f_36_total,jdbcType=VARCHAR},
			#{f_37_total,jdbcType=VARCHAR},
			#{f_brand_7,jdbcType=VARCHAR},
			#{f_38_1,jdbcType=VARCHAR},
			#{f_39_1,jdbcType=VARCHAR},
			#{f_40_1,jdbcType=VARCHAR},
			#{f_41_1,jdbcType=VARCHAR},
			#{f_42_1,jdbcType=VARCHAR},
			#{f_43_1,jdbcType=VARCHAR},
			#{f_brand_8,jdbcType=VARCHAR},
			#{f_38_2,jdbcType=VARCHAR},
			#{f_39_2,jdbcType=VARCHAR},
			#{f_40_2,jdbcType=VARCHAR},
			#{f_41_2,jdbcType=VARCHAR},
			#{f_42_2,jdbcType=VARCHAR},
			#{f_43_2,jdbcType=VARCHAR},
			#{f_41_total,jdbcType=VARCHAR},
			#{f_42_total,jdbcType=VARCHAR},
			#{f_43_total,jdbcType=VARCHAR}
		)
	</insert>
	<delete id="deleteModel" parameterType="com.jp.qxd.tax.model.pdf.Rpt008Model">
		delete
		from t_08
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</delete>
</mapper>