<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.qxd.tax.mapper.Pdf006Mapper">

	<select id="getModels" resultType="com.jp.qxd.tax.model.pdf.Rpt006Model"
		parameterType="com.jp.qxd.tax.model.pdf.Rpt006Model">
		SELECT
		*
		from t_06
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<insert id="insertModel"
		parameterType="com.jp.qxd.tax.model.pdf.Rpt006Model">
		insert into t_06
		(
			company_id
			,user_id
			,year
			,legalPersonName
			,ymdFrom
			,ymdTo
			,f_1_1
			,f_1_2
			,f_1_3
			,f_2_1
			,f_2_2
			,f_2_3
			,f_3_1
			,f_3_2
			,f_3_3
			,f_4_1
			,f_4_2
			,f_4_3
			,f_5_1
			,f_5_2
			,f_5_3
			,f_6_1
			,f_6_2
			,f_6_3
			,f_brand_1
			,f_7_1
			,f_8_1
			,f_9_1
			,f_10_1
			,f_11_1
			,f_12_1
			,f_brand_2
			,f_7_2
			,f_8_2
			,f_9_2
			,f_10_2
			,f_11_2
			,f_12_2
			,f_brand_3
			,f_7_3
			,f_8_3
			,f_9_3
			,f_10_3
			,f_11_3
			,f_12_3
			,f_brand_4
			,f_7_4
			,f_8_4
			,f_9_4
			,f_10_4
			,f_11_4
			,f_12_4
			,f_brand_5
			,f_7_5
			,f_8_5
			,f_9_5
			,f_10_5
			,f_11_5
			,f_12_5
			,f_brand_6
			,f_13_1
			,f_14_1
			,f_15_1
			,f_16_1
			,f_17_1
			,f_18_1
			,f_19_1
			,f_brand_7
			,f_13_2
			,f_14_2
			,f_15_2
			,f_16_2
			,f_17_2
			,f_18_2
			,f_19_2
			,f_brand_8
			,f_13_3
			,f_14_3
			,f_15_3
			,f_16_3
			,f_17_3
			,f_18_3
			,f_19_3
			,f_brand_9
			,f_13_4
			,f_14_4
			,f_15_4
			,f_16_4
			,f_17_4
			,f_18_4
			,f_19_4
			,f_brand_10
			,f_13_5
			,f_14_5
			,f_15_5
			,f_16_5
			,f_17_5
			,f_18_5
			,f_19_5
			,f_name_1
			,f_address_1
			,f_date_1
			,f_20_1
			,f_21_1
			,f_reference_1
			,f_name_2
			,f_address_2
			,f_date_2
			,f_20_2
			,f_21_2
			,f_reference_2
			,f_name_3
			,f_address_3
			,f_date_3
			,f_20_3
			,f_21_3
			,f_reference_3
			,f_name_4
			,f_address_4
			,f_date_4
			,f_20_4
			,f_21_4
			,f_reference_4
			,f_name_5
			,f_address_5
			,f_date_5
			,f_20_5
			,f_21_5
			,f_reference_5
			,f_total_1
			,f_total_2
		) values (
			#{company_id,jdbcType=VARCHAR},
			#{userId,jdbcType=VARCHAR},
			#{year,jdbcType=VARCHAR},
			#{legalPersonName,jdbcType=VARCHAR},
			#{ymdFrom,jdbcType=VARCHAR},
			#{ymdTo,jdbcType=VARCHAR},
			#{f_1_1,jdbcType=VARCHAR},
			#{f_1_2,jdbcType=VARCHAR},
			#{f_1_3,jdbcType=VARCHAR},
			#{f_2_1,jdbcType=VARCHAR},
			#{f_2_2,jdbcType=VARCHAR},
			#{f_2_3,jdbcType=VARCHAR},
			#{f_3_1,jdbcType=VARCHAR},
			#{f_3_2,jdbcType=VARCHAR},
			#{f_3_3,jdbcType=VARCHAR},
			#{f_4_1,jdbcType=VARCHAR},
			#{f_4_2,jdbcType=VARCHAR},
			#{f_4_3,jdbcType=VARCHAR},
			#{f_5_1,jdbcType=VARCHAR},
			#{f_5_2,jdbcType=VARCHAR},
			#{f_5_3,jdbcType=VARCHAR},
			#{f_6_1,jdbcType=VARCHAR},
			#{f_6_2,jdbcType=VARCHAR},
			#{f_6_3,jdbcType=VARCHAR},
			#{f_brand_1,jdbcType=VARCHAR},
			#{f_7_1,jdbcType=VARCHAR},
			#{f_8_1,jdbcType=VARCHAR},
			#{f_9_1,jdbcType=VARCHAR},
			#{f_10_1,jdbcType=VARCHAR},
			#{f_11_1,jdbcType=VARCHAR},
			#{f_12_1,jdbcType=VARCHAR},
			#{f_brand_2,jdbcType=VARCHAR},
			#{f_7_2,jdbcType=VARCHAR},
			#{f_8_2,jdbcType=VARCHAR},
			#{f_9_2,jdbcType=VARCHAR},
			#{f_10_2,jdbcType=VARCHAR},
			#{f_11_2,jdbcType=VARCHAR},
			#{f_12_2,jdbcType=VARCHAR},
			#{f_brand_3,jdbcType=VARCHAR},
			#{f_7_3,jdbcType=VARCHAR},
			#{f_8_3,jdbcType=VARCHAR},
			#{f_9_3,jdbcType=VARCHAR},
			#{f_10_3,jdbcType=VARCHAR},
			#{f_11_3,jdbcType=VARCHAR},
			#{f_12_3,jdbcType=VARCHAR},
			#{f_brand_4,jdbcType=VARCHAR},
			#{f_7_4,jdbcType=VARCHAR},
			#{f_8_4,jdbcType=VARCHAR},
			#{f_9_4,jdbcType=VARCHAR},
			#{f_10_4,jdbcType=VARCHAR},
			#{f_11_4,jdbcType=VARCHAR},
			#{f_12_4,jdbcType=VARCHAR},
			#{f_brand_5,jdbcType=VARCHAR},
			#{f_7_5,jdbcType=VARCHAR},
			#{f_8_5,jdbcType=VARCHAR},
			#{f_9_5,jdbcType=VARCHAR},
			#{f_10_5,jdbcType=VARCHAR},
			#{f_11_5,jdbcType=VARCHAR},
			#{f_12_5,jdbcType=VARCHAR},
			#{f_brand_6,jdbcType=VARCHAR},
			#{f_13_1,jdbcType=VARCHAR},
			#{f_14_1,jdbcType=VARCHAR},
			#{f_15_1,jdbcType=VARCHAR},
			#{f_16_1,jdbcType=VARCHAR},
			#{f_17_1,jdbcType=VARCHAR},
			#{f_18_1,jdbcType=VARCHAR},
			#{f_19_1,jdbcType=VARCHAR},
			#{f_brand_7,jdbcType=VARCHAR},
			#{f_13_2,jdbcType=VARCHAR},
			#{f_14_2,jdbcType=VARCHAR},
			#{f_15_2,jdbcType=VARCHAR},
			#{f_16_2,jdbcType=VARCHAR},
			#{f_17_2,jdbcType=VARCHAR},
			#{f_18_2,jdbcType=VARCHAR},
			#{f_19_2,jdbcType=VARCHAR},
			#{f_brand_8,jdbcType=VARCHAR},
			#{f_13_3,jdbcType=VARCHAR},
			#{f_14_3,jdbcType=VARCHAR},
			#{f_15_3,jdbcType=VARCHAR},
			#{f_16_3,jdbcType=VARCHAR},
			#{f_17_3,jdbcType=VARCHAR},
			#{f_18_3,jdbcType=VARCHAR},
			#{f_19_3,jdbcType=VARCHAR},
			#{f_brand_9,jdbcType=VARCHAR},
			#{f_13_4,jdbcType=VARCHAR},
			#{f_14_4,jdbcType=VARCHAR},
			#{f_15_4,jdbcType=VARCHAR},
			#{f_16_4,jdbcType=VARCHAR},
			#{f_17_4,jdbcType=VARCHAR},
			#{f_18_4,jdbcType=VARCHAR},
			#{f_19_4,jdbcType=VARCHAR},
			#{f_brand_10,jdbcType=VARCHAR},
			#{f_13_5,jdbcType=VARCHAR},
			#{f_14_5,jdbcType=VARCHAR},
			#{f_15_5,jdbcType=VARCHAR},
			#{f_16_5,jdbcType=VARCHAR},
			#{f_17_5,jdbcType=VARCHAR},
			#{f_18_5,jdbcType=VARCHAR},
			#{f_19_5,jdbcType=VARCHAR},
			#{f_name_1,jdbcType=VARCHAR},
			#{f_address_1,jdbcType=VARCHAR},
			#{f_date_1,jdbcType=VARCHAR},
			#{f_20_1,jdbcType=VARCHAR},
			#{f_21_1,jdbcType=VARCHAR},
			#{f_reference_1,jdbcType=VARCHAR},
			#{f_name_2,jdbcType=VARCHAR},
			#{f_address_2,jdbcType=VARCHAR},
			#{f_date_2,jdbcType=VARCHAR},
			#{f_20_2,jdbcType=VARCHAR},
			#{f_21_2,jdbcType=VARCHAR},
			#{f_reference_2,jdbcType=VARCHAR},
			#{f_name_3,jdbcType=VARCHAR},
			#{f_address_3,jdbcType=VARCHAR},
			#{f_date_3,jdbcType=VARCHAR},
			#{f_20_3,jdbcType=VARCHAR},
			#{f_21_3,jdbcType=VARCHAR},
			#{f_reference_3,jdbcType=VARCHAR},
			#{f_name_4,jdbcType=VARCHAR},
			#{f_address_4,jdbcType=VARCHAR},
			#{f_date_4,jdbcType=VARCHAR},
			#{f_20_4,jdbcType=VARCHAR},
			#{f_21_4,jdbcType=VARCHAR},
			#{f_reference_4,jdbcType=VARCHAR},
			#{f_name_5,jdbcType=VARCHAR},
			#{f_address_5,jdbcType=VARCHAR},
			#{f_date_5,jdbcType=VARCHAR},
			#{f_20_5,jdbcType=VARCHAR},
			#{f_21_5,jdbcType=VARCHAR},
			#{f_reference_5,jdbcType=VARCHAR},
			#{f_total_1,jdbcType=VARCHAR},
			#{f_total_2,jdbcType=VARCHAR}
		)
	</insert>
	<delete id="deleteModel" parameterType="com.jp.qxd.tax.model.pdf.Rpt006Model">
		delete
		from t_06
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</delete>
</mapper>