<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.qxd.tax.mapper.TMapper">

	<select id="getModels" resultType="com.jp.qxd.tax.model.input.TModel"
		parameterType="com.jp.qxd.tax.model.input.TModel">
		SELECT
		*
		from t_companyidentification
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</select>

	<insert id="insertModel"
		parameterType="com.jp.qxd.tax.model.input.TModel">
		insert into t_companyidentification
		(
			company_id
			,user_id
			,year
			,t_b428
			,t_c428
			,t_d428
			,t_h428
			,t_k428
			,t_l428
			,t_m428
			,t_n428
			,t_o428
			,t_b429
			,t_c429
			,t_d429
			,t_h429
			,t_k429
			,t_l429
			,t_m429
			,t_n429
			,t_o429
			,t_b430
			,t_c430
			,t_d430
			,t_h430
			,t_k430
			,t_l430
			,t_m430
			,t_n430
			,t_o430
			,t_b431
			,t_c431
			,t_d431
			,t_h431
			,t_k431
			,t_l431
			,t_m431
			,t_n431
			,t_o431
			,t_b432
			,t_c432
			,t_d432
			,t_h432
			,t_k432
			,t_l432
			,t_m432
			,t_n432
			,t_o432
			,t_b433
			,t_c433
			,t_d433
			,t_h433
			,t_k433
			,t_l433
			,t_m433
			,t_n433
			,t_o433
			,t_b434
			,t_c434
			,t_d434
			,t_h434
			,t_k434
			,t_l434
			,t_m434
			,t_n434
			,t_o434
			,t_b435
			,t_c435
			,t_d435
			,t_h435
			,t_k435
			,t_l435
			,t_m435
			,t_n435
			,t_o435
			,t_b436
			,t_c436
			,t_d436
			,t_h436
			,t_k436
			,t_l436
			,t_m436
			,t_n436
			,t_o436
			,t_b437
			,t_c437
			,t_d437
			,t_h437
			,t_k437
			,t_l437
			,t_m437
			,t_n437
			,t_o437
			,t_b438
			,t_c438
			,t_d438
			,t_h438
			,t_k438
			,t_l438
			,t_m438
			,t_n438
			,t_o438
			,t_b439
			,t_c439
			,t_d439
			,t_h439
			,t_k439
			,t_l439
			,t_m439
			,t_n439
			,t_o439
			,t_b440
			,t_c440
			,t_d440
			,t_h440
			,t_k440
			,t_l440
			,t_m440
			,t_n440
			,t_o440
			,t_i442
			,t_n442
			,t_n446
			,t_n447
			,t_n448
		) values (
			#{company_id,jdbcType=VARCHAR},
			#{userId,jdbcType=VARCHAR},
			#{year,jdbcType=VARCHAR},
			#{t_b428,jdbcType=VARCHAR},
			#{t_c428,jdbcType=VARCHAR},
			#{t_d428,jdbcType=VARCHAR},
			#{t_h428,jdbcType=VARCHAR},
			#{t_k428,jdbcType=VARCHAR},
			#{t_l428,jdbcType=VARCHAR},
			#{t_m428,jdbcType=VARCHAR},
			#{t_n428,jdbcType=VARCHAR},
			#{t_o428,jdbcType=VARCHAR},
			#{t_b429,jdbcType=VARCHAR},
			#{t_c429,jdbcType=VARCHAR},
			#{t_d429,jdbcType=VARCHAR},
			#{t_h429,jdbcType=VARCHAR},
			#{t_k429,jdbcType=VARCHAR},
			#{t_l429,jdbcType=VARCHAR},
			#{t_m429,jdbcType=VARCHAR},
			#{t_n429,jdbcType=VARCHAR},
			#{t_o429,jdbcType=VARCHAR},
			#{t_b430,jdbcType=VARCHAR},
			#{t_c430,jdbcType=VARCHAR},
			#{t_d430,jdbcType=VARCHAR},
			#{t_h430,jdbcType=VARCHAR},
			#{t_k430,jdbcType=VARCHAR},
			#{t_l430,jdbcType=VARCHAR},
			#{t_m430,jdbcType=VARCHAR},
			#{t_n430,jdbcType=VARCHAR},
			#{t_o430,jdbcType=VARCHAR},
			#{t_b431,jdbcType=VARCHAR},
			#{t_c431,jdbcType=VARCHAR},
			#{t_d431,jdbcType=VARCHAR},
			#{t_h431,jdbcType=VARCHAR},
			#{t_k431,jdbcType=VARCHAR},
			#{t_l431,jdbcType=VARCHAR},
			#{t_m431,jdbcType=VARCHAR},
			#{t_n431,jdbcType=VARCHAR},
			#{t_o431,jdbcType=VARCHAR},
			#{t_b432,jdbcType=VARCHAR},
			#{t_c432,jdbcType=VARCHAR},
			#{t_d432,jdbcType=VARCHAR},
			#{t_h432,jdbcType=VARCHAR},
			#{t_k432,jdbcType=VARCHAR},
			#{t_l432,jdbcType=VARCHAR},
			#{t_m432,jdbcType=VARCHAR},
			#{t_n432,jdbcType=VARCHAR},
			#{t_o432,jdbcType=VARCHAR},
			#{t_b433,jdbcType=VARCHAR},
			#{t_c433,jdbcType=VARCHAR},
			#{t_d433,jdbcType=VARCHAR},
			#{t_h433,jdbcType=VARCHAR},
			#{t_k433,jdbcType=VARCHAR},
			#{t_l433,jdbcType=VARCHAR},
			#{t_m433,jdbcType=VARCHAR},
			#{t_n433,jdbcType=VARCHAR},
			#{t_o433,jdbcType=VARCHAR},
			#{t_b434,jdbcType=VARCHAR},
			#{t_c434,jdbcType=VARCHAR},
			#{t_d434,jdbcType=VARCHAR},
			#{t_h434,jdbcType=VARCHAR},
			#{t_k434,jdbcType=VARCHAR},
			#{t_l434,jdbcType=VARCHAR},
			#{t_m434,jdbcType=VARCHAR},
			#{t_n434,jdbcType=VARCHAR},
			#{t_o434,jdbcType=VARCHAR},
			#{t_b435,jdbcType=VARCHAR},
			#{t_c435,jdbcType=VARCHAR},
			#{t_d435,jdbcType=VARCHAR},
			#{t_h435,jdbcType=VARCHAR},
			#{t_k435,jdbcType=VARCHAR},
			#{t_l435,jdbcType=VARCHAR},
			#{t_m435,jdbcType=VARCHAR},
			#{t_n435,jdbcType=VARCHAR},
			#{t_o435,jdbcType=VARCHAR},
			#{t_b436,jdbcType=VARCHAR},
			#{t_c436,jdbcType=VARCHAR},
			#{t_d436,jdbcType=VARCHAR},
			#{t_h436,jdbcType=VARCHAR},
			#{t_k436,jdbcType=VARCHAR},
			#{t_l436,jdbcType=VARCHAR},
			#{t_m436,jdbcType=VARCHAR},
			#{t_n436,jdbcType=VARCHAR},
			#{t_o436,jdbcType=VARCHAR},
			#{t_b437,jdbcType=VARCHAR},
			#{t_c437,jdbcType=VARCHAR},
			#{t_d437,jdbcType=VARCHAR},
			#{t_h437,jdbcType=VARCHAR},
			#{t_k437,jdbcType=VARCHAR},
			#{t_l437,jdbcType=VARCHAR},
			#{t_m437,jdbcType=VARCHAR},
			#{t_n437,jdbcType=VARCHAR},
			#{t_o437,jdbcType=VARCHAR},
			#{t_b438,jdbcType=VARCHAR},
			#{t_c438,jdbcType=VARCHAR},
			#{t_d438,jdbcType=VARCHAR},
			#{t_h438,jdbcType=VARCHAR},
			#{t_k438,jdbcType=VARCHAR},
			#{t_l438,jdbcType=VARCHAR},
			#{t_m438,jdbcType=VARCHAR},
			#{t_n438,jdbcType=VARCHAR},
			#{t_o438,jdbcType=VARCHAR},
			#{t_b439,jdbcType=VARCHAR},
			#{t_c439,jdbcType=VARCHAR},
			#{t_d439,jdbcType=VARCHAR},
			#{t_h439,jdbcType=VARCHAR},
			#{t_k439,jdbcType=VARCHAR},
			#{t_l439,jdbcType=VARCHAR},
			#{t_m439,jdbcType=VARCHAR},
			#{t_n439,jdbcType=VARCHAR},
			#{t_o439,jdbcType=VARCHAR},
			#{t_b440,jdbcType=VARCHAR},
			#{t_c440,jdbcType=VARCHAR},
			#{t_d440,jdbcType=VARCHAR},
			#{t_h440,jdbcType=VARCHAR},
			#{t_k440,jdbcType=VARCHAR},
			#{t_l440,jdbcType=VARCHAR},
			#{t_m440,jdbcType=VARCHAR},
			#{t_n440,jdbcType=VARCHAR},
			#{t_o440,jdbcType=VARCHAR},
			#{t_i442,jdbcType=VARCHAR},
			#{t_n442,jdbcType=VARCHAR},
			#{t_n446,jdbcType=VARCHAR},
			#{t_n447,jdbcType=VARCHAR},
			#{t_n448,jdbcType=VARCHAR}
		)
	</insert>
	<delete id="deleteModel" parameterType="com.jp.qxd.tax.model.input.TModel">
		delete
		from t_companyidentification
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{year,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</delete>

	<insert id="copy" parameterType="com.jp.qxd.tax.model.input.BModel">
		insert into t_companyidentification
		(
			company_id
			,user_id
			,year
			,t_b428
			,t_c428
			,t_d428
			,t_h428
			,t_k428
			,t_l428
			,t_m428
			,t_n428
			,t_o428
			,t_b429
			,t_c429
			,t_d429
			,t_h429
			,t_k429
			,t_l429
			,t_m429
			,t_n429
			,t_o429
			,t_b430
			,t_c430
			,t_d430
			,t_h430
			,t_k430
			,t_l430
			,t_m430
			,t_n430
			,t_o430
			,t_b431
			,t_c431
			,t_d431
			,t_h431
			,t_k431
			,t_l431
			,t_m431
			,t_n431
			,t_o431
			,t_b432
			,t_c432
			,t_d432
			,t_h432
			,t_k432
			,t_l432
			,t_m432
			,t_n432
			,t_o432
			,t_b433
			,t_c433
			,t_d433
			,t_h433
			,t_k433
			,t_l433
			,t_m433
			,t_n433
			,t_o433
			,t_b434
			,t_c434
			,t_d434
			,t_h434
			,t_k434
			,t_l434
			,t_m434
			,t_n434
			,t_o434
			,t_b435
			,t_c435
			,t_d435
			,t_h435
			,t_k435
			,t_l435
			,t_m435
			,t_n435
			,t_o435
			,t_b436
			,t_c436
			,t_d436
			,t_h436
			,t_k436
			,t_l436
			,t_m436
			,t_n436
			,t_o436
			,t_b437
			,t_c437
			,t_d437
			,t_h437
			,t_k437
			,t_l437
			,t_m437
			,t_n437
			,t_o437
			,t_b438
			,t_c438
			,t_d438
			,t_h438
			,t_k438
			,t_l438
			,t_m438
			,t_n438
			,t_o438
			,t_b439
			,t_c439
			,t_d439
			,t_h439
			,t_k439
			,t_l439
			,t_m439
			,t_n439
			,t_o439
			,t_b440
			,t_c440
			,t_d440
			,t_h440
			,t_k440
			,t_l440
			,t_m440
			,t_n440
			,t_o440
			,t_i442
			,t_n442
			,t_n446
			,t_n447
			,t_n448
		)
		select
		company_id
		,user_id
		,#{year,jdbcType=VARCHAR}
		,t_b428
		,t_c428
		,t_d428
		,t_h428
		,t_k428
		,t_l428
		,t_m428
		,t_n428
		,t_o428
		,t_b429
		,t_c429
		,t_d429
		,t_h429
		,t_k429
		,t_l429
		,t_m429
		,t_n429
		,t_o429
		,t_b430
		,t_c430
		,t_d430
		,t_h430
		,t_k430
		,t_l430
		,t_m430
		,t_n430
		,t_o430
		,t_b431
		,t_c431
		,t_d431
		,t_h431
		,t_k431
		,t_l431
		,t_m431
		,t_n431
		,t_o431
		,t_b432
		,t_c432
		,t_d432
		,t_h432
		,t_k432
		,t_l432
		,t_m432
		,t_n432
		,t_o432
		,t_b433
		,t_c433
		,t_d433
		,t_h433
		,t_k433
		,t_l433
		,t_m433
		,t_n433
		,t_o433
		,t_b434
		,t_c434
		,t_d434
		,t_h434
		,t_k434
		,t_l434
		,t_m434
		,t_n434
		,t_o434
		,t_b435
		,t_c435
		,t_d435
		,t_h435
		,t_k435
		,t_l435
		,t_m435
		,t_n435
		,t_o435
		,t_b436
		,t_c436
		,t_d436
		,t_h436
		,t_k436
		,t_l436
		,t_m436
		,t_n436
		,t_o436
		,t_b437
		,t_c437
		,t_d437
		,t_h437
		,t_k437
		,t_l437
		,t_m437
		,t_n437
		,t_o437
		,t_b438
		,t_c438
		,t_d438
		,t_h438
		,t_k438
		,t_l438
		,t_m438
		,t_n438
		,t_o438
		,t_b439
		,t_c439
		,t_d439
		,t_h439
		,t_k439
		,t_l439
		,t_m439
		,t_n439
		,t_o439
		,t_b440
		,t_c440
		,t_d440
		,t_h440
		,t_k440
		,t_l440
		,t_m440
		,t_n440
		,t_o440
		,t_i442
		,t_n442
		,t_n446
		,t_n447
		,t_n448
		from t_companyidentification
		<where>
			user_id = #{userId,jdbcType=VARCHAR}
			and year = #{preYear,jdbcType=VARCHAR}
			and company_id = #{company_id,jdbcType=VARCHAR}
		</where>
	</insert>

</mapper>